**PySpark no Google Colab**

In [16]:
# instalar as dependências
# baixando a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
#extraindo o arquivo tgz
!tar xf /content/spark-3.3.1-bin-hadoop3.tgz
#instalando o  Findspark que é responsavel para que as variáveis ​​do ambiente sejam definidas corretamente e o pyspark seja importado.
!pip install -q findspark

In [15]:
import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

# utilizando o findspark para que o pyspark seja "importável"
import findspark
findspark.init('spark-3.3.1-bin-hadoop3')

**SparkSession**

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate()

df = spark.read.csv(path='/mnt/clientes.csv',sep=';',header='true',encoding='latin1',inferSchema='true')

df.show()

+----------+--------------------+-------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+
|cliente_id|          nm_cliente| nr_cpf|dt_nasci|         complemento| nr_telefone|   cep|cep_mae| salario|desconto_salario|cod_banco|nome_banco|
+----------+--------------------+-------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+
|      1820|   Vitor Hugo da Luz| 108908|30031986|             179,...|00-0910-2646|400487|   null|71993.34|              21|       33| Santander|
|      2275|         Ian Moreira| 163362|20031983|             97,c...|00-1365-3969|400487|   null|34812.34|             208|       33| Santander|
|      2730|        Nicole Silva| 217816|26041989|             194,...|00-1820-5292|400487|   null|13884.47|             219|       33| Santander|
|      3185|       Enrico Araújo| 272270|18111982|             304,...|00-2275-6615|  null| 400487|88561.84|              12|       33| Santander|
|      3640|       Lara Nogueira| 326724|29081988|             207,...|00-2730-7938|400487|   null|32141.87|             220|       33| Santander|
|      4095|Carlos Eduardo da...| 381178|15011997|             121,...|00-3185-9261|400487|   null|52535.62|             149|       33| Santander|
|      4550|     Larissa Correia| 435632|15071997|             309,...|00-3641-0584|400487|   null|22055.04|             164|       33| Santander|
|      5005|       Rafaela Viana| 490086|19051996|             66,c...|00-4096-1907|400487|   null|14216.09|             214|       33| Santander|
|      5460|       Raul Carvalho| 544540|16011988|             333,...|00-4551-3230|  null| 400487|11144.66|              64|       33| Santander|
|      5915|      Lorenzo Novaes| 598994|25051983|             21,c...|00-5006-4553|512496|   null|11546.18|             192|       33| Santander|
|      6370|      Alexia Ribeiro| 653448|30071990|             291,...|00-5461-5876|512496|   null|31811.39|              61|       33| Santander|
|      6825|    Bárbara Nogueira| 707902|14021982|             281,...|00-5916-7199|512496|   null| 1715.53|             124|       33| Santander|
|      7280|   Stephany da Rocha| 762356|26071989|             314,...|00-6371-8522|512496|   null|87833.26|             103|       33| Santander|
|      7735|      Caroline Pires| 816810|29051982|             78,c...|00-6826-9845|  null| 400487| 92904.9|             225|       33| Santander|
|      8190|        Kaique Jesus| 871264|19041987|             260,...|00-7282-1168|  null| 400487| 5012.54|              32|       33| Santander|
|      8645|        Alice da Luz| 925718|13091998|             142,...|00-7737-2491|  null| 400487|77676.76|             118|      341|      ITAU|
|      9100|       Eduarda Costa| 980172|15071983|             197,...|00-8192-3814|512496|   null|87644.14|             151|      341|      ITAU|
|      9555|        Helena Souza|1034626|22091995|             205,...|00-8647-5137|512496|   null|26649.08|              33|      341|      ITAU|
|     10010|      Lorena Azevedo|1089080|22111995|             325,...|00-9102-6460|512496|   null|47519.21|             120|      341|      ITAU|
|     10465|Maria Vitória da ...|1143534|28101996|             193,...|00-9557-7783|512496|   null|76523.79|              25|      341|      ITAU|
+----------+--------------------+-------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+
only showing top 20 rows

**.Select()**

Ele recebe de argumento 2 tipos de parametros.

1º: O nome da coluna em uma string

2º: Um objeto de coluna.

Para criar um objeto de coluna, utilizamos sempre os Métodos de F.

In [23]:
help(df.select)

Help on method select in module pyspark.sql.dataframe:

select(*cols: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of expressions and returns a new :class:`DataFrame`.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : str, :class:`Column`, or list
        column names (string) or expressions (:class:`Column`).
        If one of the column names is '*', that column is expanded to include all columns
        in the current :class:`DataFrame`.

    Examples
    --------
    >>> df.select('*').collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.select('name', 'age').collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]
    >>> df.select(df.name, (df.age + 10).alias('age')).collect()
    [Row(name='Alice', age=12), Row(name='Bob', age=15)]

**F.col('')**

O retorno é um objeto de coluna.

Este objeto aponta para alguma coluna do dataframe.


Atenção!!!
Priorizar o uso de um objeto de coluna em vez de passar uma string...

Pois é mais comum os métodos do dataframe aceitarem objetos de coluna do que 
uma string com o nome da coluna.

In [27]:
# df.select(
#     F.col('nm_cliente'),
#     F.col('salario')

# ).show()


df.select(
    'nm_cliente',
    'salario'
).show()

+--------------------+--------+
|          nm_cliente| salario|
+--------------------+--------+
|   Vitor Hugo da Luz|71993.34|
|         Ian Moreira|34812.34|
|        Nicole Silva|13884.47|
|       Enrico Araújo|88561.84|
|       Lara Nogueira|32141.87|
|Carlos Eduardo da...|52535.62|
|     Larissa Correia|22055.04|
|       Rafaela Viana|14216.09|
|       Raul Carvalho|11144.66|
|      Lorenzo Novaes|11546.18|
|      Alexia Ribeiro|31811.39|
|    Bárbara Nogueira| 1715.53|
|   Stephany da Rocha|87833.26|
|      Caroline Pires| 92904.9|
|        Kaique Jesus| 5012.54|
|        Alice da Luz|77676.76|
|       Eduarda Costa|87644.14|
|        Helena Souza|26649.08|
|      Lorena Azevedo|47519.21|
|Maria Vitória da ...|76523.79|
+--------------------+--------+
only showing top 20 rows

**Realizar Soma entre colunas**

In [29]:
df.select(
    'nm_cliente',
    F.col('salario') + F.col('desconto_salario')
).show()

+--------------------+----------------------------+
|          nm_cliente|(salario + desconto_salario)|
+--------------------+----------------------------+
|   Vitor Hugo da Luz|                    72014.34|
|         Ian Moreira|                    35020.34|
|        Nicole Silva|                    14103.47|
|       Enrico Araújo|                    88573.84|
|       Lara Nogueira|                    32361.87|
|Carlos Eduardo da...|                    52684.62|
|     Larissa Correia|                    22219.04|
|       Rafaela Viana|                    14430.09|
|       Raul Carvalho|                    11208.66|
|      Lorenzo Novaes|                    11738.18|
|      Alexia Ribeiro|                    31872.39|
|    Bárbara Nogueira|                     1839.53|
|   Stephany da Rocha|                    87936.26|
|      Caroline Pires|                     93129.9|
|        Kaique Jesus|                     5044.54|
|        Alice da Luz|                    77794.76|
|       Eduarda Costa|                    87795.14|
|        Helena Souza|                    26682.08|
|      Lorena Azevedo|                    47639.21|
|Maria Vitória da ...|                    76548.79|
+--------------------+----------------------------+
only showing top 20 rows

**Realizar Divisão entre colunas**

In [33]:
df.select(
    'nm_cliente',
    (
        F.col('salario') / F.col('desconto_salario')
        
        ).alias('sobra'),
    F.col('nm_cliente').alias('nome_completo')
).show()

+--------------------+------------------+--------------------+
|          nm_cliente|             sobra|       nome_completo|
+--------------------+------------------+--------------------+
|   Vitor Hugo da Luz|3428.2542857142857|   Vitor Hugo da Luz|
|         Ian Moreira|167.36701923076922|         Ian Moreira|
|        Nicole Silva| 63.39940639269406|        Nicole Silva|
|       Enrico Araújo| 7380.153333333333|       Enrico Araújo|
|       Lara Nogueira| 146.0994090909091|       Lara Nogueira|
|Carlos Eduardo da...| 352.5880536912752|Carlos Eduardo da...|
|     Larissa Correia| 134.4819512195122|     Larissa Correia|
|       Rafaela Viana| 66.43032710280374|       Rafaela Viana|
|       Raul Carvalho|       174.1353125|       Raul Carvalho|
|      Lorenzo Novaes| 60.13635416666667|      Lorenzo Novaes|
|      Alexia Ribeiro| 521.4981967213115|      Alexia Ribeiro|
|    Bárbara Nogueira|13.834919354838709|    Bárbara Nogueira|
|   Stephany da Rocha| 852.7500970873785|   Stephany da Rocha|
|      Caroline Pires|412.91066666666666|      Caroline Pires|
|        Kaique Jesus|        156.641875|        Kaique Jesus|
|        Alice da Luz|  658.277627118644|        Alice da Luz|
|       Eduarda Costa| 580.4247682119205|       Eduarda Costa|
|        Helena Souza| 807.5478787878789|        Helena Souza|
|      Lorena Azevedo|395.99341666666663|      Lorena Azevedo|
|Maria Vitória da ...|         3060.9516|Maria Vitória da ...|
+--------------------+------------------+--------------------+
only showing top 20 rows

**Realizar multiplicação entre colunas**

In [35]:
df.select(
    'nm_cliente',
    (F.col('salario') * F.col('desconto_salario')).alias('mult')
).show()

+--------------------+------------------+
|          nm_cliente|              mult|
+--------------------+------------------+
|   Vitor Hugo da Luz|        1511860.14|
|         Ian Moreira| 7240966.719999999|
|        Nicole Silva|3040698.9299999997|
|       Enrico Araújo|        1062742.08|
|       Lara Nogueira| 7071211.399999999|
|Carlos Eduardo da...| 7827807.380000001|
|     Larissa Correia|        3617026.56|
|       Rafaela Viana|3042243.2600000002|
|       Raul Carvalho|         713258.24|
|      Lorenzo Novaes|        2216866.56|
|      Alexia Ribeiro|        1940494.79|
|    Bárbara Nogueira|         212725.72|
|   Stephany da Rocha|        9046825.78|
|      Caroline Pires|      2.09036025E7|
|        Kaique Jesus|         160401.28|
|        Alice da Luz|        9165857.68|
|       Eduarda Costa|     1.323426514E7|
|        Helena Souza|         879419.64|
|      Lorena Azevedo|         5702305.2|
|Maria Vitória da ...|1913094.7499999998|
+--------------------+------------------+
only showing top 20 rows