
# **1. Introdução**

O que é o driver?

É a maquina principal onde ocorre o gerenciamento de criação e quem executará o código. Neste código possui o spark session que é o ponto de entrada. O Spark Session pega as suas tarefas e as divide em tarefas menores que serão tratadas pelos executores.

O que é o cluster mananger?

É o gerenciador de tarefas (ETL) e jobs que só é necessário se o Spark for executado de forma distribuída e também é responsável pela administração das máquinas que serão utilizadas como workers.

O gerenciador de cluster se comunica com o driver e os executores para:

Gerenciar a alocação de recursos, divisão do programa e execução do programa.

O que são os work nodes?

São as máquinas conectadas ao cluster que são responsáveis pela execução das tarefas designadas pelo cluster mananger. Se o Spark for executado de forma local, a máquina fará o papel de Driver Program e de Worker.

Arquitetura do Spark

A arquitetura de um código utilizando o spark é constituidas utilizando alguns objetos como: dataframe, colunas e entre outros.

Para iniciarmos na hora de codar, nosso ponto de inicio para construir um dataframe é o SparkSession (driver program).

O spark session é responsável por construir uma variável a qual conectará o ambiente do cluster, ou seja o a integração de sistemas para efetuaar a carga dos dados (processo de ETL), possibilitando a leitura de dataframes.

  # **1.2 Spark Session**

In [ ]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.2/spark-3.4.2-bin-hadoop3.tgz
!tar xf spark-3.4.2-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.3.2-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"

import findspark
findspark.init('spark-3.4.2-bin-hadoop3')

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate();
dir(spark)
!ls sample_data

anscombe.json		     california_housing_train.csv  mnist_train_small.csv
california_housing_test.csv  mnist_test.csv		   README.md

In [ ]:
# @title Texto de título padrão
df = spark.read.csv(path='/content/sample_data/california_housing_test.csv',sep=',',header=True, inferSchema=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows


# **Leitura de arquivo Parquet e transformando em Dataframe.**

Parquet é um formato de arquivo colunar que fornece optimizações para acelerar as consultas e é um formato muito mais eficiente do que CSV ou JSON, suportado por muitos sistemas de processamento de dados.


É compatível com a maioria das estruturas de processamento de dados.
Fornece esquemas eficientes de compressão e codificação de dados com desempenho melhorado para lidar com dados complexos em massa.


Arquivos nesse formato reduzem o armazenamento de dados em média em 75%. O Spark por padrão suporta Parquet na sua biblioteca, logo não precisamos de adicionar quaisquer bibliotecas de dependência.


Abaixo estão algumas das vantagens de usar o Parquet. A combinação destes benefícios com Spark melhora o desempenho e dá a capacidade de trabalhar com estrutura de arquivos.


Reduz as operações de IO (maior eficiência as transformações).

Obtém colunas específicas a que precisa de acessar (particionamentos).

Consome menos espaço.

Suporta Datatype nas colunas.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate();
df = spark.read.parquet('/content/part-00000-160310ee-f8df-4374-a58b-ff23cf718399-c000.snappy.parquet')
df.show()

+----------+--------------------+----------+----------+------+-----------+------------+
|cliente_id|          nm_cliente|    nr_cpf|  dt_nasci|cep_id|complemento| nr_telefone|
+----------+--------------------+----------+----------+------+-----------+------------+
|      1820|   Vitor Hugo da Luz|0000108908|30-03-1986|512496| 179,casa 1|00-0910-2646|
|      2275|         Ian Moreira|0000163362|20-03-1983|965268|  97,casa 1|00-1365-3969|
|      2730|        Nicole Silva|0000217816|26-04-1989|931429| 194,casa 3|00-1820-5292|
|      3185|       Enrico Araújo|0000272270|18-11-1982|287560| 304,casa 1|00-2275-6615|
|      3640|       Lara Nogueira|0000326724|29-08-1988|840060| 207,casa 1|00-2730-7938|
|      4095|Carlos Eduardo da...|0000381178|05-01-1997|746023| 121,casa 2|00-3185-9261|
|      4550|     Larissa Correia|0000435632|15-07-1997|187173| 309,casa 1|00-3641-0584|
|      5005|       Rafaela Viana|0000490086|19-05-1996|931949|  66,casa 3|00-4096-1907|
|      5460|       Raul Carvalho|0000544540|06-01-1988|871432| 333,casa 2|00-4551-3230|
|      5915|      Lorenzo Novaes|0000598994|25-05-1983|667061|  21,casa 3|00-5006-4553|
|      6370|      Alexia Ribeiro|0000653448|30-07-1990|526407| 291,casa 2|00-5461-5876|
|      6825|    Bárbara Nogueira|0000707902|14-02-1982|472787| 281,casa 3|00-5916-7199|
|      7280|   Stephany da Rocha|0000762356|26-07-1989|512496| 314,casa 2|00-6371-8522|
|      7735|      Caroline Pires|0000816810|29-05-1982|965268|  78,casa 3|00-6826-9845|
|      8190|        Kaique Jesus|0000871264|09-04-1987|931429| 260,casa 2|00-7282-1168|
|      8645|        Alice da Luz|0000925718|13-09-1998|287560| 142,casa 3|00-7737-2491|
|      9100|       Eduarda Costa|0000980172|05-07-1983|840060| 197,casa 1|00-8192-3814|
|      9555|        Helena Souza|0001034626|22-09-1995|746023| 205,casa 1|00-8647-5137|
|     10010|      Lorena Azevedo|0001089080|22-11-1995|187173| 325,casa 3|00-9102-6460|
|     10465|Maria Vitória da ...|0001143534|28-10-1996|931949| 193,casa 1|00-9557-7783|
+----------+--------------------+----------+----------+------+-----------+------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- cliente_id: string (nullable = true)
 |-- nm_cliente: string (nullable = true)
 |-- nr_cpf: string (nullable = true)
 |-- dt_nasci: string (nullable = true)
 |-- cep_id: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- nr_telefone: string (nullable = true)

**Arquivo ORC**

In [ ]:
df_orc = spark.read.orc('/content/part-00000-e426960a-16f7-4fe3-92a7-d6bbfc898c7c-c000.snappy.orc')
df_orc.show()

+----------+--------------------+-------------+-------+-----------+
|produto_id|          nm_produto|fornecedor_id|dpto_id|vlr_produto|
+----------+--------------------+-------------+-------+-----------+
|         1|           Iphone 11|            1|      1|    4500.45|
|         2|    Galaxy s22 Ultra|            2|      1|    6800.36|
|         3|    Notebook Samsung|            2|      2|    5000.40|
|         4|      Notebook HP i7|            3|      2|    4500.85|
|         5|    suporte notebook|            4|      3|     200.34|
|         6|Capa celular dive...|            4|      3|      55.78|
+----------+--------------------+-------------+-------+-----------+

# **Criando um Dataframe a partir de leitura de um banco de dados**

Criando a SparkSession

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.3.2-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"

import findspark
findspark.init('spark-3.4.2-bin-hadoop3')

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
  .config("spark.jars",'/content/spark-3.4.2-bin-hadoop3/jars/sqlite-jdbc-3.34.0.jar')\
  .getOrCreate()

Parametros importantes JDBC:

Properties: dicionario que deverá conter o driver

url: url do banco de dados

table: tabela dentro do banco de dados


Realizando a leitura de um banco de dados com JDBC

In [ ]:
df = spark.read.jdbc(
    properties={
        'driver':'org.sqlite.JDBC'
    },
    url='jdbc:sqlite:/content/sample_data/vendas.db',
    table='vendas'
)

Metodo do dataframe para visualizar no terminal...

# **2.4.1 Realizando a leitura de arquivos desestruturados com Python**

In [ ]:
arquivo = open('/content/sample_data/06-09-2022.txt', 'r')

linhas = []
for linha in arquivo:
  linha_lista = linha.split('\t')
  if len(linha_lista) == 6:
    linhas.append(linha_lista)


print(linhas)

[['1', '00073944', 'CREME DE LEITE', '5', '6.75', '33.75\n'], ['2', '00086268', 'LEITE', '12', '5.4', '64.8\n'], ['3', '00098592', 'UVA', '0.3', '8.75', '2.625\n'], ['4', '00110916', 'LARANJA', '3.4', '7.2', '24.48\n'], ['5', '00123240', 'ACHOCOLATADO', '2', '4.44', '8.88\n'], ['6', '00135564', 'QUEIJO', '0.2', '54.85', '10.97\n'], ['7', '00147888', 'PRESUNTO', '0.2', '25.8', '5.16\n'], ['8', '00160212', 'PAO', '0.4', '12.3', '4.92\n']]

In [ ]:


linhas = []
nome_arquivos = ['04-09-2022.txt', '05-09-2022.txt', '06-09-2022.txt']

for nome_arquivo in nome_arquivos:
  arquivo = open('/content/sample_data/{}'.format(nome_arquivo), 'r')
  for linha in arquivo:
    linha_lista = linha.split('\t')
    if len(linha_lista) == 6:
      linhas.append(linha_lista)

print(linhas)

[['1', '123241', 'CHOLATE', '2', '12.8', '8.88\n'], ['2', '00234156', 'DESODORANTE', '2', '12.3', '24.6\n'], ['3', '00246480', 'SABONETE', '2', '3.3', '6.6\n'], ['1', '00073944', 'CREME DE LEITE', '5', '6.75', '33.75\n'], ['2', '00086268', 'LEITE', '12', '5.4', '64.8\n'], ['3', '00098592', 'UVA', '0.3', '8.75', '2.625\n'], ['4', '00110916', 'LARANJA', '3.4', '7.2', '24.48\n'], ['5', '00123240', 'ACHOCOLATADO', '2', '4.44', '8.88\n'], ['6', '00135564', 'QUEIJO', '0.2', '54.85', '10.97\n'], ['7', '00147888', 'PRESUNTO', '0.2', '25.8', '5.16\n'], ['8', '00160212', 'PAO', '0.4', '12.3', '4.92\n'], ['9', '00172536', 'SHAMPOO', '2', '12.4', '24.8\n'], ['10', '00184860', 'CONDICIONADOR', '2', '14.5', '29\n'], ['11', '00197184', 'CARNE', '5.3', '55.8', '295.74\n'], ['12', '00209508', 'FRANGO', '5.4', '30.45', '164.43\n'], ['13', '00221832', 'PEIXE', '0.5', '40.77', '20.385\n'], ['14', '00234156', 'DESODORANTE', '2', '12.3', '24.6\n'], ['15', '00246480', 'SABONETE', '2', '3.3', '6.6\n'], ['1', '00073944', 'CREME DE LEITE', '5', '6.75', '33.75\n'], ['2', '00086268', 'LEITE', '12', '5.4', '64.8\n'], ['3', '00098592', 'UVA', '0.3', '8.75', '2.625\n'], ['4', '00110916', 'LARANJA', '3.4', '7.2', '24.48\n'], ['5', '00123240', 'ACHOCOLATADO', '2', '4.44', '8.88\n'], ['6', '00135564', 'QUEIJO', '0.2', '54.85', '10.97\n'], ['7', '00147888', 'PRESUNTO', '0.2', '25.8', '5.16\n'], ['8', '00160212', 'PAO', '0.4', '12.3', '4.92\n']]

# **2.4.2 Spark Create Dataframe**

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate();

lista_cargos = [
    ['Cassio', 'Analista de dados', 32],
    ['Cassiano', 'Estagiario', 33],
    ['Gabriel', 'Lider de dados', 6],
    ['Ana Beatriz', 'Engenheira de dados', 12]
]

nome_colunas = ['Nome', 'Cargo', 'Idade']

df = spark.createDataFrame(data=lista_cargos, schema=nome_colunas)

df.show()

+-----------+-------------------+-----+
|       Nome|              Cargo|Idade|
+-----------+-------------------+-----+
|     Cassio|  Analista de dados|   32|
|   Cassiano|         Estagiario|   33|
|    Gabriel|     Lider de dados|    6|
|Ana Beatriz|Engenheira de dados|   12|
+-----------+-------------------+-----+

In [ ]:

df_cupom = spark.createDataFrame(data=linhas, schema=['codigo',
                                                      'codigo_produto',
                                                      'nome_produto',
                                                      'qtde_produto',
                                                      'vlr_produto',
                                                      'vlr_total_produto'])
df_cupom.show()

+------+--------------+--------------+------------+-----------+-----------------+
|codigo|codigo_produto|  nome_produto|qtde_produto|vlr_produto|vlr_total_produto|
+------+--------------+--------------+------------+-----------+-----------------+
|     1|        123241|       CHOLATE|           2|       12.8|           8.88\n|
|     2|      00234156|   DESODORANTE|           2|       12.3|           24.6\n|
|     3|      00246480|      SABONETE|           2|        3.3|            6.6\n|
|     1|      00073944|CREME DE LEITE|           5|       6.75|          33.75\n|
|     2|      00086268|         LEITE|          12|        5.4|           64.8\n|
|     3|      00098592|           UVA|         0.3|       8.75|          2.625\n|
|     4|      00110916|       LARANJA|         3.4|        7.2|          24.48\n|
|     5|      00123240|  ACHOCOLATADO|           2|       4.44|           8.88\n|
|     6|      00135564|        QUEIJO|         0.2|      54.85|          10.97\n|
|     7|      00147888|      PRESUNTO|         0.2|       25.8|           5.16\n|
|     8|      00160212|           PAO|         0.4|       12.3|           4.92\n|
|     9|      00172536|       SHAMPOO|           2|       12.4|           24.8\n|
|    10|      00184860| CONDICIONADOR|           2|       14.5|             29\n|
|    11|      00197184|         CARNE|         5.3|       55.8|         295.74\n|
|    12|      00209508|        FRANGO|         5.4|      30.45|         164.43\n|
|    13|      00221832|         PEIXE|         0.5|      40.77|         20.385\n|
|    14|      00234156|   DESODORANTE|           2|       12.3|           24.6\n|
|    15|      00246480|      SABONETE|           2|        3.3|            6.6\n|
|     1|      00073944|CREME DE LEITE|           5|       6.75|          33.75\n|
|     2|      00086268|         LEITE|          12|        5.4|           64.8\n|
+------+--------------+--------------+------------+-----------+-----------------+
only showing top 20 rows

# **2.4.3 Pandas Dataframe para Spark Dataframe**

Pandas

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/clientes.csv', encoding='latin1', sep=';')
df.head()

,cliente_id,nm_cliente,nr_cpf,dt_nasci,complemento,nr_telefone,cep,salario,desconto,banco_pgto
0,1820,Vitor Hugo da Luz,108908,30031986,"179,casa 1",00-0910-2646,400487.0,3.580.121,21,033 - Santander
1,2275,Ian Moreira,163362,20031983,"97,casa 1",00-1365-3969,400487.0,1.116.351,208,033 - Santander
2,2730,Nicole Silva,217816,26041989,"194,casa 3",00-1820-5292,400487.0,8954.32,219,033 - Santander
3,3185,Enrico Araújo,272270,18111982,"304,casa 1",00-2275-6615,NaN,6.986.852,12,033 - Santander
4,3640,Lara Nogueira,326724,29081988,"207,casa 1",00-2730-7938,400487.0,6.358.743,220,033 - Santander

In [ ]:
type(df)

pandas.core.frame.DataFrame

PySpark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate();

In [ ]:
df_spark = spark.createDataFrame(df)
type(df_spark)
#df_spark.show()

pyspark.sql.dataframe.DataFrame

Converter DataFrame Spark em DataFrame Pandas

In [ ]:
df_pandas = df_spark.toPandas()
type(df_pandas)

pandas.core.frame.DataFrame

# 3. **Metodos de um DataFrame**

# 3.1 **Metodo WithColumnRenamed e Select**

In [ ]:
from sqlalchemy.sql.expression import false
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

lista_cargos = [
    ['Cassio', 'Analista de dados', 32],
    ['Cassiano', 'Estagiario', 33],
    ['Gabriel', 'Lider de dados', 6],
    ['Ana Beatriz', 'Engenheira de dados', 12]
]

nome_colunas = ['Nome', 'Cargo', 'Idade']

df = spark.createDataFrame(lista_cargos, nome_colunas)

# Metodo df.show() tem dois parametros:
# 1 parametro é para definir qtde de linha a ser exibida.
# 2 parametro é para exibir os dados completo dos registros, sem quebra.
df.show(3, False)
#help(df.show)

+--------+-----------------+-----+
|Nome    |Cargo            |Idade|
+--------+-----------------+-----+
|Cassio  |Analista de dados|32   |
|Cassiano|Estagiario       |33   |
|Gabriel |Lider de dados   |6    |
+--------+-----------------+-----+
only showing top 3 rows

In [ ]:
# Metodo WithColumnRenaned
df = df.withColumnRenamed('Nome', 'Name')
df = df.withColumnRenamed('Cargo', 'Role')
df = df.withColumnRenamed('Idade', 'Age')
df.show()

+-----------+-------------------+---+
|       Name|               Role|Age|
+-----------+-------------------+---+
|     Cassio|  Analista de dados| 32|
|   Cassiano|         Estagiario| 33|
|    Gabriel|     Lider de dados|  6|
|Ana Beatriz|Engenheira de dados| 12|
+-----------+-------------------+---+

**Diferença de metodo de ação vs metodo de transfomação**

In [ ]:

#
def criar_email(nome,sobrenome):
  return f'{nome}.{sobrenome}@gmail.com'

def enviar_email(mensagem,destinatario):
  #codigo
  #codigo
  #codigo
  print('email enviado')


email = criar_email('Cristiano','Sancho')
print(email)

teste = enviar_email("oi",email)
print(teste)
type(teste)

Cristiano.Sancho@gmail.com
email enviado
None

NoneType

No Spark

PrintSchema()

Exibe o schema em formato de arvore no log

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Age: long (nullable = true)

.select()

Selecione as colunas de dentro do dataframe e retorne um novo dataframe.

In [ ]:
df_2 = df.select('Name')
df_2.show()

+-----------+
|       Name|
+-----------+
|     Cassio|
|   Cassiano|
|    Gabriel|
|Ana Beatriz|
+-----------+

# 3.2 **Outros Metodos de ação**

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.read.csv(path='/content/sample_data/clientes_to_distinct.csv', sep=';', header=True, inferSchema=True)

df.show(10, False)
df.printSchema()

+----------+----------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|cliente_id|nm_cliente|nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|
+----------+----------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|1         |guilherme |108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |
|1         |guilherme |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |
|1         |guilherme |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |
|2         |guilherme |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |
|2         |vitor     |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |
|3         |kelvin    |381178|15011997|             121,casa 2         |00-3185-9261|400487|null   |52535.62|149             |33       |Santander |
|4         |rogerio   |435632|15071997|             309,casa 1         |00-3641-0584|400487|null   |22055.04|164             |33       |Santander |
|4         |rogerio   |490086|19051996|             66,casa 3          |00-4096-1907|400487|null   |14216.09|214             |33       |Santander |
+----------+----------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+

root
 |-- cliente_id: integer (nullable = true)
 |-- nm_cliente: string (nullable = true)
 |-- nr_cpf: integer (nullable = true)
 |-- dt_nasci: integer (nullable = true)
 |-- complemento: string (nullable = true)
 |-- nr_telefone: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- cep_mae: integer (nullable = true)
 |-- salario: double (nullable = true)
 |-- desconto_salario: integer (nullable = true)
 |-- cod_banco: integer (nullable = true)
 |-- nome_banco: string (nullable = true)

Metodo de ação - OrdeBy

Ordenar o dataframe pela colunas de chave e retorna um novo dataframe.

In [ ]:
df_2 = df.orderBy('desconto_salario', ascending=False)\
  .select('cliente_id','nm_cliente','desconto_salario','salario')

No codigo acima fizemos um alinhamento de metodo para melhor leitura do codigo.

In [ ]:
df_2.show()

+----------+----------+----------------+--------+
|cliente_id|nm_cliente|desconto_salario| salario|
+----------+----------+----------------+--------+
|         2|     vitor|             220|32141.87|
|         1| guilherme|             219|13884.47|
|         4|   rogerio|             214|14216.09|
|         1| guilherme|             208|34812.34|
|         4|   rogerio|             164|22055.04|
|         3|    kelvin|             149|52535.62|
|         1| guilherme|              21|71993.34|
|         2| guilherme|              12|88561.84|
+----------+----------+----------------+--------+

Metodo de ação - count()

retorna a contagem de linhas de um dataframe

In [ ]:
df.count()

8

Metodo de ação - take()

Mostrar a primeira linha em formato de uma Lista de um dataframe

In [ ]:
df.take(5)

[Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=108908, dt_nasci=30031986, complemento='             179,casa 1         ', nr_telefone='00-0910-2646', cep=400487, cep_mae=None, salario=71993.34, desconto_salario=21, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=163362, dt_nasci=20031983, complemento='             97,casa 1         ', nr_telefone='00-1365-3969', cep=400487, cep_mae=None, salario=34812.34, desconto_salario=208, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=217816, dt_nasci=26041989, complemento='             194,casa 3         ', nr_telefone='00-1820-5292', cep=400487, cep_mae=None, salario=13884.47, desconto_salario=219, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=2, nm_cliente='guilherme', nr_cpf=272270, dt_nasci=18111982, complemento='             304,casa 1         ', nr_telefone='00-2275-6615', cep=None, cep_mae=400487, salario=88561.84, desconto_salario=12, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=2, nm_cliente='vitor', nr_cpf=326724, dt_nasci=29081988, complemento='             207,casa 1         ', nr_telefone='00-2730-7938', cep=400487, cep_mae=None, salario=32141.87, desconto_salario=220, cod_banco=33, nome_banco='Santander')]

*Dica senior : Quando estiver conferindo o resultado de um dataframe e tiver curiosidade de saber se está retornando vazio, inves de usar o metodo COUNT use o TAKE.*

In [ ]:
df.count()

8

In [ ]:
len(df.take(1))

1

Metodo de ação - collect()

retorna as linhas do dataframe em uma lista do python, semelhante ao take, no entanto, o collect traz tudo numa lista.
CUIDADO: Se o dataframe for muito grande, pode prejudicar a memoria do driver

In [ ]:
df.collect()

[Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=108908, dt_nasci=30031986, complemento='             179,casa 1         ', nr_telefone='00-0910-2646', cep=400487, cep_mae=None, salario=71993.34, desconto_salario=21, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=163362, dt_nasci=20031983, complemento='             97,casa 1         ', nr_telefone='00-1365-3969', cep=400487, cep_mae=None, salario=34812.34, desconto_salario=208, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=217816, dt_nasci=26041989, complemento='             194,casa 3         ', nr_telefone='00-1820-5292', cep=400487, cep_mae=None, salario=13884.47, desconto_salario=219, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=2, nm_cliente='guilherme', nr_cpf=272270, dt_nasci=18111982, complemento='             304,casa 1         ', nr_telefone='00-2275-6615', cep=None, cep_mae=400487, salario=88561.84, desconto_salario=12, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=2, nm_cliente='vitor', nr_cpf=326724, dt_nasci=29081988, complemento='             207,casa 1         ', nr_telefone='00-2730-7938', cep=400487, cep_mae=None, salario=32141.87, desconto_salario=220, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=3, nm_cliente='kelvin', nr_cpf=381178, dt_nasci=15011997, complemento='             121,casa 2         ', nr_telefone='00-3185-9261', cep=400487, cep_mae=None, salario=52535.62, desconto_salario=149, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=4, nm_cliente='rogerio', nr_cpf=435632, dt_nasci=15071997, complemento='             309,casa 1         ', nr_telefone='00-3641-0584', cep=400487, cep_mae=None, salario=22055.04, desconto_salario=164, cod_banco=33, nome_banco='Santander'),
 Row(cliente_id=4, nm_cliente='rogerio', nr_cpf=490086, dt_nasci=19051996, complemento='             66,casa 3         ', nr_telefone='00-4096-1907', cep=400487, cep_mae=None, salario=14216.09, desconto_salario=214, cod_banco=33, nome_banco='Santander')]

In [ ]:
# Melhor pratica - Assim não usa a memoria
lista_rows_df = df.collect()
print(lista_rows_df)

[Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=108908, dt_nasci=30031986, complemento='             179,casa 1         ', nr_telefone='00-0910-2646', cep=400487, cep_mae=None, salario=71993.34, desconto_salario=21, cod_banco=33, nome_banco='Santander'), Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=163362, dt_nasci=20031983, complemento='             97,casa 1         ', nr_telefone='00-1365-3969', cep=400487, cep_mae=None, salario=34812.34, desconto_salario=208, cod_banco=33, nome_banco='Santander'), Row(cliente_id=1, nm_cliente='guilherme', nr_cpf=217816, dt_nasci=26041989, complemento='             194,casa 3         ', nr_telefone='00-1820-5292', cep=400487, cep_mae=None, salario=13884.47, desconto_salario=219, cod_banco=33, nome_banco='Santander'), Row(cliente_id=2, nm_cliente='guilherme', nr_cpf=272270, dt_nasci=18111982, complemento='             304,casa 1         ', nr_telefone='00-2275-6615', cep=None, cep_mae=400487, salario=88561.84, desconto_salario=12, cod_banco=33, nome_banco='Santander'), Row(cliente_id=2, nm_cliente='vitor', nr_cpf=326724, dt_nasci=29081988, complemento='             207,casa 1         ', nr_telefone='00-2730-7938', cep=400487, cep_mae=None, salario=32141.87, desconto_salario=220, cod_banco=33, nome_banco='Santander'), Row(cliente_id=3, nm_cliente='kelvin', nr_cpf=381178, dt_nasci=15011997, complemento='             121,casa 2         ', nr_telefone='00-3185-9261', cep=400487, cep_mae=None, salario=52535.62, desconto_salario=149, cod_banco=33, nome_banco='Santander'), Row(cliente_id=4, nm_cliente='rogerio', nr_cpf=435632, dt_nasci=15071997, complemento='             309,casa 1         ', nr_telefone='00-3641-0584', cep=400487, cep_mae=None, salario=22055.04, desconto_salario=164, cod_banco=33, nome_banco='Santander'), Row(cliente_id=4, nm_cliente='rogerio', nr_cpf=490086, dt_nasci=19051996, complemento='             66,casa 3         ', nr_telefone='00-4096-1907', cep=400487, cep_mae=None, salario=14216.09, desconto_salario=214, cod_banco=33, nome_banco='Santander')]

Metodo de ação - toPandas

retorna as linhas do Spark Dataframe em um dataframe do Pandas

In [ ]:
# help(df.toPandas)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_Pandas = df.toPandas()
type(df_Pandas)

pandas.core.frame.DataFrame

# 3.3 **Metodos DropDuplicates VS Distinct**

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.read.csv(path='/content/sample_data/clientes_to_distinct_1.CSV', sep=';', header=True, inferSchema=True)

df.show(10, False)
# df.printSchema()

+----------+----------+--------+
|cliente_id|nm_cliente|salario |
+----------+----------+--------+
|1         |guilherme |71993.34|
|1         |guilherme |34812.34|
|1         |guilherme |13884.47|
|2         |guilherme |88561.84|
|2         |vitor     |32141.87|
|3         |kelvin    |52535.62|
|4         |rogerio   |22055.04|
|4         |rogerio   |14216.09|
+----------+----------+--------+

Metodo de ação - distinct()

In [ ]:
df.select('cliente_id','nm_cliente').distinct().show()

+----------+----------+
|cliente_id|nm_cliente|
+----------+----------+
|         1| guilherme|
|         3|    kelvin|
|         2| guilherme|
|         2|     vitor|
|         4|   rogerio|
+----------+----------+

In [ ]:
df.distinct().show()

+----------+----------+--------+
|cliente_id|nm_cliente| salario|
+----------+----------+--------+
|         2| guilherme|88561.84|
|         1| guilherme|71993.34|
|         2|     vitor|32141.87|
|         1| guilherme|34812.34|
|         4|   rogerio|22055.04|
|         3|    kelvin|52535.62|
|         1| guilherme|13884.47|
|         4|   rogerio|14216.09|
+----------+----------+--------+

In [ ]:
df.dropDuplicates(['cliente_id','nm_cliente']).show()

+----------+----------+--------+
|cliente_id|nm_cliente| salario|
+----------+----------+--------+
|         1| guilherme|71993.34|
|         3|    kelvin|52535.62|
|         2| guilherme|88561.84|
|         2|     vitor|32141.87|
|         4|   rogerio|22055.04|
+----------+----------+--------+

# **4. Colunas**

In [ ]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.4.3-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"

import findspark
findspark.init('spark-3.4.3-bin-hadoop3')

# SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate();

# **4.1 Trabalhando com Colunas**

In [ ]:
df = spark.read.csv(path='/content/sample_data/clientes.csv', sep=';', header=True, inferSchema=True, encoding='latin1')
df.show(5,False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
only showing top 5 rows

In [ ]:
df.select(
    'nm_cliente',
    'salario'
).show(5, False)

+-----------------+--------+
|nm_cliente       |salario |
+-----------------+--------+
|Vitor Hugo da Luz|71993.34|
|Ian Moreira      |34812.34|
|Nicole Silva     |13884.47|
|Enrico Araújo    |88561.84|
|Lara Nogueira    |32141.87|
+-----------------+--------+
only showing top 5 rows

In [ ]:
df.select(
    F.col('nm_cliente'),
    F.col('salario')
).show(5, False)

+-----------------+--------+
|nm_cliente       |salario |
+-----------------+--------+
|Vitor Hugo da Luz|71993.34|
|Ian Moreira      |34812.34|
|Nicole Silva     |13884.47|
|Enrico Araújo    |88561.84|
|Lara Nogueira    |32141.87|
+-----------------+--------+
only showing top 5 rows

In [ ]:
df.select(
    'nm_cliente',
    #'salario' + 'desconto_salario',
    # Para transformação de dados, ou seja, qualquer calculo matematico, é necessario usar a biblioteca de Funções F.col
    (F.col('salario') + F.col('desconto_salario')).alias('salario_total')
).show(5, False)

+-----------------+-------------+
|nm_cliente       |salario_total|
+-----------------+-------------+
|Vitor Hugo da Luz|72014.34     |
|Ian Moreira      |35020.34     |
|Nicole Silva     |14103.47     |
|Enrico Araújo    |88573.84     |
|Lara Nogueira    |32361.87     |
+-----------------+-------------+
only showing top 5 rows

In [ ]:
df.select(
    'nm_cliente',
    #'salario' + 'desconto_salario',
    # Para transformação de dados, ou seja, qualquer calculo matematico, é necessario usar a biblioteca de Funções F.col
    (F.col('salario') * F.col('desconto_salario')).alias('salario_multip')
).show(5, False)

+-----------------+------------------+
|nm_cliente       |salario_multip    |
+-----------------+------------------+
|Vitor Hugo da Luz|1511860.14        |
|Ian Moreira      |7240966.719999999 |
|Nicole Silva     |3040698.9299999997|
|Enrico Araújo    |1062742.08        |
|Lara Nogueira    |7071211.399999999 |
+-----------------+------------------+
only showing top 5 rows

In [ ]:
df.select(
    'nm_cliente',
    #'salario' + 'desconto_salario',
    # Para transformação de dados, ou seja, qualquer calculo matematico, é necessario usar a biblioteca de Funções F.col
    'salario' * F.col(desconto_salario'
).show(5, False)

# **4.2.	Como criar uma nova colunas com withColumn**

In [ ]:
# SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate();

In [ ]:
df = spark.read.csv(
    path='/content/sample_data/clientes.csv',
    sep=';',
    header=True,
    inferSchema=True,
    encoding='latin1')

df.show(5,False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
only showing top 5 rows

In [ ]:
df = df.withColumn('salario_total',
              F.col('salario') - F.col('desconto_salario'))

In [ ]:
df.show(5, False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-------------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|salario_total|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-------------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |71972.34     |
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |34604.34     |
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |13665.47     |
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |88549.84     |
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |31921.87     |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-------------+
only showing top 5 rows

# **4.3.	Métodos Colunas String**

In [ ]:
# SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate();

df = spark.read.csv(path='/content/sample_data/clientes.csv', sep=';', header=True,encoding='latin1', inferSchema=True)

df.show(5, truncate=False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
only showing top 5 rows

F.lit()

In [ ]:
pais = 'BR'

df = df.withColumn('pais',
                   F.lit(pais))
df.show(5, truncate=False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|pais|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |BR  |
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |BR  |
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |BR  |
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |BR  |
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |BR  |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----+
only showing top 5 rows

F.concat()

In [ ]:
cod_banco = '33'
nome_banco= ' Santander'

print(cod_banco + nome_banco)

df.select(
    'cod_banco',
    'nome_banco',
    F.concat(
        F.col('cod_banco'),
        F.lit(' - '),
        F.col('nome_banco')
    ).alias('banco')
).show(5)

33 Santander
+---------+----------+--------------+
|cod_banco|nome_banco|         banco|
+---------+----------+--------------+
|       33| Santander|33 - Santander|
|       33| Santander|33 - Santander|
|       33| Santander|33 - Santander|
|       33| Santander|33 - Santander|
|       33| Santander|33 - Santander|
+---------+----------+--------------+
only showing top 5 rows

F.coalesce()

In [ ]:
df.select(
    F.col('cep'),
    F.col('cep_mae'),
    F.coalesce(
        F.col('cep'),
        F.col('cep_mae')
    ).alias('cep_final')
).show(5)

+------+-------+---------+
|   cep|cep_mae|cep_final|
+------+-------+---------+
|400487|   null|   400487|
|400487|   null|   400487|
|400487|   null|   400487|
|  null| 400487|   400487|
|400487|   null|   400487|
+------+-------+---------+
only showing top 5 rows

In [ ]:
df = df.withColumn('cep_final',
        F.coalesce(
            F.col('cep'),
            F.col('cep_mae')
        )
)
df.show(5)

+----------+-----------------+------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
|cliente_id|       nm_cliente|nr_cpf|dt_nasci|         complemento| nr_telefone|   cep|cep_mae| salario|desconto_salario|cod_banco|nome_banco|pais|cep_final|
+----------+-----------------+------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
|      1820|Vitor Hugo da Luz|108908|30031986|             179,...|00-0910-2646|400487|   null|71993.34|              21|       33| Santander|  BR|   400487|
|      2275|      Ian Moreira|163362|20031983|             97,c...|00-1365-3969|400487|   null|34812.34|             208|       33| Santander|  BR|   400487|
|      2730|     Nicole Silva|217816|26041989|             194,...|00-1820-5292|400487|   null|13884.47|             219|       33| Santander|  BR|   400487|
|      3185|    Enrico Araújo|272270|18111982|             304,...|00-2275-6615|  null| 400487|88561.84|              12|       33| Santander|  BR|   400487|
|      3640|    Lara Nogueira|326724|29081988|             207,...|00-2730-7938|400487|   null|32141.87|             220|       33| Santander|  BR|   400487|
+----------+-----------------+------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
only showing top 5 rows

F.md5()

Retorna o valor como uma string hexadecimal de 32 caracteres

In [ ]:
df.select(
    F.col('nr_cpf'),
    F.md5(
        F.col('nr_cpf').cast('string')
          )
).show(10, False)

+------+--------------------------------+
|nr_cpf|md5(CAST(nr_cpf AS STRING))     |
+------+--------------------------------+
|108908|0576befa082efff3f0282f5a0a42ab31|
|163362|987ca27cffce9d3b288eab5e9e50373b|
|217816|cf8e7d895e9af4f6ff2047c99fba994d|
|272270|db0ecb8ead961a2983478ea211c488b6|
|326724|9e57b9233e121f0355e2ab5fc95e8372|
|381178|f2eb13fc323c467a1a524bd1405b7f0d|
|435632|d86dec57fd5858908b5391cb756a1c00|
|490086|8ed052dda7e9540a356172a2aa25b5f0|
|544540|1f7bd98fd93911cadd4f2b5f415da409|
|598994|0b77328a26b519fe1f63839e32c3311c|
+------+--------------------------------+
only showing top 10 rows

In [ ]:
df.withColumn('nr_cpf',
              F.md5(
                F.col('nr_cpf').cast('string')
              )
).show(5,False)

+----------+-----------------+--------------------------------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
|cliente_id|nm_cliente       |nr_cpf                          |dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|pais|cep_final|
+----------+-----------------+--------------------------------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
|1820      |Vitor Hugo da Luz|0576befa082efff3f0282f5a0a42ab31|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |BR  |400487   |
|2275      |Ian Moreira      |987ca27cffce9d3b288eab5e9e50373b|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |BR  |400487   |
|2730      |Nicole Silva     |cf8e7d895e9af4f6ff2047c99fba994d|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |BR  |400487   |
|3185      |Enrico Araújo    |db0ecb8ead961a2983478ea211c488b6|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |BR  |400487   |
|3640      |Lara Nogueira    |9e57b9233e121f0355e2ab5fc95e8372|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |BR  |400487   |
+----------+-----------------+--------------------------------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
only showing top 5 rows

F.lenght()

Calcula o comprimento de caracteres de dados de string ou o número de bytes de dados binários

In [ ]:
df.select(
    F.col('complemento'),
    F.length(
        F.col('complemento')
    )
).show(5, False)

+--------------------------------+-------------------+
|complemento                     |length(complemento)|
+--------------------------------+-------------------+
|             179,casa 1         |32                 |
|             97,casa 1          |31                 |
|             194,casa 3         |32                 |
|             304,casa 1         |32                 |
|             207,casa 1         |32                 |
+--------------------------------+-------------------+
only showing top 5 rows

F.lower()

Retorna os caracteres em MINUSCULO de uma coluna em string.

In [ ]:
df.select(
    F.col('nm_cliente'),
    F.lower(F.col('nm_cliente')).alias('Nome_minus')
).show(10, False)

+---------------------+---------------------+
|nm_cliente           |Nome_minus           |
+---------------------+---------------------+
|Vitor Hugo da Luz    |vitor hugo da luz    |
|Ian Moreira          |ian moreira          |
|Nicole Silva         |nicole silva         |
|Enrico Araújo        |enrico araújo        |
|Lara Nogueira        |lara nogueira        |
|Carlos Eduardo da Paz|carlos eduardo da paz|
|Larissa Correia      |larissa correia      |
|Rafaela Viana        |rafaela viana        |
|Raul Carvalho        |raul carvalho        |
|Lorenzo Novaes       |lorenzo novaes       |
+---------------------+---------------------+
only showing top 10 rows

F.upper()

Retorna os caracteres em MAIUSCULO de uma coluna em string.

In [ ]:
df.select(
    F.col('nm_cliente'),
    F.upper(F.col('nm_cliente')).alias('Nome_maius')
).show(10, False)

+---------------------+---------------------+
|nm_cliente           |Nome_maius           |
+---------------------+---------------------+
|Vitor Hugo da Luz    |VITOR HUGO DA LUZ    |
|Ian Moreira          |IAN MOREIRA          |
|Nicole Silva         |NICOLE SILVA         |
|Enrico Araújo        |ENRICO ARAÚJO        |
|Lara Nogueira        |LARA NOGUEIRA        |
|Carlos Eduardo da Paz|CARLOS EDUARDO DA PAZ|
|Larissa Correia      |LARISSA CORREIA      |
|Rafaela Viana        |RAFAELA VIANA        |
|Raul Carvalho        |RAUL CARVALHO        |
|Lorenzo Novaes       |LORENZO NOVAES       |
+---------------------+---------------------+
only showing top 10 rows

F.lpad() ou F.rpad()

Coloque à esquerda a coluna da string na largura `len` com `pad`.

In [ ]:
df.select(
    F.col('nr_cpf'),
    F.lpad(
        F.col('nr_cpf'),
        11,
        '0'
    )
).show(10, False)

+------+-------------------+
|nr_cpf|lpad(nr_cpf, 11, 0)|
+------+-------------------+
|108908|00000108908        |
|163362|00000163362        |
|217816|00000217816        |
|272270|00000272270        |
|326724|00000326724        |
|381178|00000381178        |
|435632|00000435632        |
|490086|00000490086        |
|544540|00000544540        |
|598994|00000598994        |
+------+-------------------+
only showing top 10 rows

In [ ]:
df.select(
    F.col('nr_cpf'),
    F.rpad(
        F.col('nr_cpf'),
        11,
        '0'
    )
).show(10, False)

+------+-------------------+
|nr_cpf|rpad(nr_cpf, 11, 0)|
+------+-------------------+
|108908|10890800000        |
|163362|16336200000        |
|217816|21781600000        |
|272270|27227000000        |
|326724|32672400000        |
|381178|38117800000        |
|435632|43563200000        |
|490086|49008600000        |
|544540|54454000000        |
|598994|59899400000        |
+------+-------------------+
only showing top 10 rows

F.trim()

Remove espaços a direita e esquerda de uma string.

In [ ]:
df.select(
    F.col('complemento'),
    F.trim(
        F.col('complemento')
    ).alias('complemento_trim')
).show(5)

+--------------------+----------------+
|         complemento|complemento_trim|
+--------------------+----------------+
|             179,...|      179,casa 1|
|             97,c...|       97,casa 1|
|             194,...|      194,casa 3|
|             304,...|      304,casa 1|
|             207,...|      207,casa 1|
+--------------------+----------------+
only showing top 5 rows

F.ltrim()

Remove espaços a esquerda de uma string.

In [ ]:
df.select(
    F.col('complemento'),
    F.ltrim(
        F.col('complemento')
    ).alias('complemento_trim')
).show(5)

+--------------------+-------------------+
|         complemento|   complemento_trim|
+--------------------+-------------------+
|             179,...|179,casa 1         |
|             97,c...| 97,casa 1         |
|             194,...|194,casa 3         |
|             304,...|304,casa 1         |
|             207,...|207,casa 1         |
+--------------------+-------------------+
only showing top 5 rows

F.rtrim()

Remove espaços a direita de uma string.

In [ ]:
df.select(
    F.col('complemento'),
    F.rtrim(
        F.col('complemento')
    ).alias('complemento_trim')
).show(5)

+--------------------+--------------------+
|         complemento|    complemento_trim|
+--------------------+--------------------+
|             179,...|             179,...|
|             97,c...|             97,c...|
|             194,...|             194,...|
|             304,...|             304,...|
|             207,...|             207,...|
+--------------------+--------------------+
only showing top 5 rows

F.substring()

In [ ]:
df.show(5)

+----------+-----------------+------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
|cliente_id|       nm_cliente|nr_cpf|dt_nasci|         complemento| nr_telefone|   cep|cep_mae| salario|desconto_salario|cod_banco|nome_banco|pais|cep_final|
+----------+-----------------+------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
|      1820|Vitor Hugo da Luz|108908|30031986|             179,...|00-0910-2646|400487|   null|71993.34|              21|       33| Santander|  BR|   400487|
|      2275|      Ian Moreira|163362|20031983|             97,c...|00-1365-3969|400487|   null|34812.34|             208|       33| Santander|  BR|   400487|
|      2730|     Nicole Silva|217816|26041989|             194,...|00-1820-5292|400487|   null|13884.47|             219|       33| Santander|  BR|   400487|
|      3185|    Enrico Araújo|272270|18111982|             304,...|00-2275-6615|  null| 400487|88561.84|              12|       33| Santander|  BR|   400487|
|      3640|    Lara Nogueira|326724|29081988|             207,...|00-2730-7938|400487|   null|32141.87|             220|       33| Santander|  BR|   400487|
+----------+-----------------+------+--------+--------------------+------------+------+-------+--------+----------------+---------+----------+----+---------+
only showing top 5 rows

In [ ]:
df.select(
    F.col('nr_telefone'),
    F.substring(
        F.col('nr_telefone'),
        4,
        4
    )
).show(5)

+------------+----------------------------+
| nr_telefone|substring(nr_telefone, 4, 4)|
+------------+----------------------------+
|00-0910-2646|                        0910|
|00-1365-3969|                        1365|
|00-1820-5292|                        1820|
|00-2275-6615|                        2275|
|00-2730-7938|                        2730|
+------------+----------------------------+
only showing top 5 rows

# **4.4 Trabalhando com Colunas Datetime**

In [ ]:
 # SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate();

df = spark.read.csv(path='/content/sample_data/clientes.csv', sep=';', header=True,encoding='latin1', inferSchema=True)

df.show(5, truncate=False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+
only showing top 5 rows

F.current_timestamp()

Retorna a data/hora atual.

In [ ]:
df.select(
    F.col('cliente_id'),
    F.col('nm_cliente'),
    F.current_timestamp().alias('dth_atu')
).show(5,False)

+----------+-----------------+-----------------------+
|cliente_id|nm_cliente       |dth_atu                |
+----------+-----------------+-----------------------+
|1820      |Vitor Hugo da Luz|2024-04-18 17:34:37.731|
|2275      |Ian Moreira      |2024-04-18 17:34:37.731|
|2730      |Nicole Silva     |2024-04-18 17:34:37.731|
|3185      |Enrico Araújo    |2024-04-18 17:34:37.731|
|3640      |Lara Nogueira    |2024-04-18 17:34:37.731|
+----------+-----------------+-----------------------+
only showing top 5 rows

F.Date_format(0

In [ ]:
df = df.withColumn('dth_atual',
              F.current_timestamp()
)

df.show(5,False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-----------------------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|dth_atual              |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-----------------------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |2024-04-18 17:34:46.738|
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |2024-04-18 17:34:46.738|
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |2024-04-18 17:34:46.738|
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |2024-04-18 17:34:46.738|
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |2024-04-18 17:34:46.738|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-----------------------+
only showing top 5 rows

In [ ]:
df.show(5,False)

+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----------------------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|dth_atual             |
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----------------------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |2024-04-18 17:35:01.72|
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |2024-04-18 17:35:01.72|
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |2024-04-18 17:35:01.72|
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |2024-04-18 17:35:01.72|
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |2024-04-18 17:35:01.72|
+----------+-----------------+------+--------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+----------------------+
only showing top 5 rows

F.date_format

In [ ]:
df.select(
    F.col('dth_atual'),
    F.date_format('dth_atual','yyyyMMdd').alias('date_format')
).show(5)

+--------------------+-----------+
|           dth_atual|date_format|
+--------------------+-----------+
|2024-04-18 17:35:...|   20240418|
|2024-04-18 17:35:...|   20240418|
|2024-04-18 17:35:...|   20240418|
|2024-04-18 17:35:...|   20240418|
|2024-04-18 17:35:...|   20240418|
+--------------------+-----------+
only showing top 5 rows

F.to_date

In [ ]:
df.select(
    F.col('dt_nasci'),
    F.to_date('dt_nasci','ddMMyyyy').alias('dt_nasc')
).show(5)

+--------+----------+
|dt_nasci|   dt_nasc|
+--------+----------+
|30031986|1986-03-30|
|20031983|1983-03-20|
|26041989|1989-04-26|
|18111982|1982-11-18|
|29081988|1988-08-29|
+--------+----------+
only showing top 5 rows

In [ ]:
df = df.withColumn('dt_nasci',
    F.to_date('dt_nasci','ddMMyyyy')
)

In [ ]:
df.show(5,False)

+----------+-----------------+------+----------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-----------------------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci  |complemento                     |nr_telefone |cep   |cep_mae|salario |desconto_salario|cod_banco|nome_banco|dth_atual              |
+----------+-----------------+------+----------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-----------------------+
|1820      |Vitor Hugo da Luz|108908|1986-03-30|             179,casa 1         |00-0910-2646|400487|null   |71993.34|21              |33       |Santander |2024-04-17 16:17:05.336|
|2275      |Ian Moreira      |163362|1983-03-20|             97,casa 1          |00-1365-3969|400487|null   |34812.34|208             |33       |Santander |2024-04-17 16:17:05.336|
|2730      |Nicole Silva     |217816|1989-04-26|             194,casa 3         |00-1820-5292|400487|null   |13884.47|219             |33       |Santander |2024-04-17 16:17:05.336|
|3185      |Enrico Araújo    |272270|1982-11-18|             304,casa 1         |00-2275-6615|null  |400487 |88561.84|12              |33       |Santander |2024-04-17 16:17:05.336|
|3640      |Lara Nogueira    |326724|1988-08-29|             207,casa 1         |00-2730-7938|400487|null   |32141.87|220             |33       |Santander |2024-04-17 16:17:05.336|
+----------+-----------------+------+----------+--------------------------------+------------+------+-------+--------+----------------+---------+----------+-----------------------+
only showing top 5 rows

In [ ]:
df.select(
    F.col('dt_nasci'),
    F.year('dt_nasci').alias('ano')
).show(5)

+----------+----+
|  dt_nasci| ano|
+----------+----+
|1986-03-30|1986|
|1983-03-20|1983|
|1989-04-26|1989|
|1982-11-18|1982|
|1988-08-29|1988|
+----------+----+
only showing top 5 rows

In [ ]:
df.select(
    F.col('dt_nasci'),
    F.month('dt_nasci').alias('mes')
).show(5)

+----------+---+
|  dt_nasci|mes|
+----------+---+
|1986-03-30|  3|
|1983-03-20|  3|
|1989-04-26|  4|
|1982-11-18| 11|
|1988-08-29|  8|
+----------+---+
only showing top 5 rows

In [ ]:
df.select(
    F.col('dt_nasci'),
    F.dayofmonth('dt_nasci').alias('dia')
).show(5)

+----------+---+
|  dt_nasci|dia|
+----------+---+
|1986-03-30| 30|
|1983-03-20| 20|
|1989-04-26| 26|
|1982-11-18| 18|
|1988-08-29| 29|
+----------+---+
only showing top 5 rows

In [ ]:
df.select(
    F.col('dt_nasci'),
    F.date_sub(F.col('dt_nasci'),5).alias('ano')
).show(5)

+----------+----------+
|  dt_nasci|       ano|
+----------+----------+
|1986-03-30|1986-03-25|
|1983-03-20|1983-03-15|
|1989-04-26|1989-04-21|
|1982-11-18|1982-11-13|
|1988-08-29|1988-08-24|
+----------+----------+
only showing top 5 rows

In [ ]:
df.select(
    F.col('dt_nasci'),
    F.date_add(F.col('dt_nasci'),5).alias('ano')
).show(5)

+----------+----------+
|  dt_nasci|       ano|
+----------+----------+
|1986-03-30|1986-04-04|
|1983-03-20|1983-03-25|
|1989-04-26|1989-05-01|
|1982-11-18|1982-11-23|
|1988-08-29|1988-09-03|
+----------+----------+
only showing top 5 rows

In [ ]:
df.select(
    F.col('dt_nasci'),
    F.col('dth_atual'),
    F.datediff(F.col('dth_atual'), F.col('dt_nasci')).alias('qtde_dias')
).show(5)

+----------+--------------------+---------+
|  dt_nasci|           dth_atual|qtde_dias|
+----------+--------------------+---------+
|1986-03-30|2024-04-18 17:36:...|    13899|
|1983-03-20|2024-04-18 17:36:...|    15005|
|1989-04-26|2024-04-18 17:36:...|    12776|
|1982-11-18|2024-04-18 17:36:...|    15127|
|1988-08-29|2024-04-18 17:36:...|    13016|
+----------+--------------------+---------+
only showing top 5 rows

# **5. Metodos de DataFrame**

In [ ]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.4.3-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"
import findspark
findspark.init('spark-3.4.3-bin-hadoop3')

SparkSession

In [ ]:
# SparkSession
from pyspark.sql import SparkSession
# Funções de colunas
from pyspark.sql import functions as F

#spark = SparkSession.builder.appName('Aula 5').master('local').getOrCreate();

# **5.1 Aprendendo Metodos de DataFrame - Parte 1**

In [ ]:
df_cliente = spark.read\
         .csv("/content/sample_data/clientes.csv",
              sep=';',
              header=True,
              encoding='latin1',
              inferSchema=True)

df_cliente.show(5, False)
# 11 min

+----------+-----------------+------+--------+--------------------------------+------------+------+---------+--------+---------------+
|cliente_id|nm_cliente       |nr_cpf|dt_nasci|complemento                     |nr_telefone |cep   |salario  |desconto|banco_pgto     |
+----------+-----------------+------+--------+--------------------------------+------------+------+---------+--------+---------------+
|1820      |Vitor Hugo da Luz|108908|30031986|             179,casa 1         |00-0910-2646|400487|3.580.121|21      |033 - Santander|
|2275      |Ian Moreira      |163362|20031983|             97,casa 1          |00-1365-3969|400487|1.116.351|208     |033 - Santander|
|2730      |Nicole Silva     |217816|26041989|             194,casa 3         |00-1820-5292|400487|8954.32  |219     |033 - Santander|
|3185      |Enrico Araújo    |272270|18111982|             304,casa 1         |00-2275-6615|null  |6.986.852|12      |033 - Santander|
|3640      |Lara Nogueira    |326724|29081988|             207,casa 1         |00-2730-7938|400487|6.358.743|220     |033 - Santander|
+----------+-----------------+------+--------+--------------------------------+------------+------+---------+--------+---------------+
only showing top 5 rows

In [ ]:
df_endereco = spark.read\
          .csv('/content/sample_data/endereco.txt',
               sep='|',
               header=True,
               encoding='utf-8',
               inferSchema=True)

df_endereco.show(10, False)

# 25 min

+------+--------------------------+----------+--------------+---+
|cep_id|nm_enredeco               |bairro    |cidade        |UF |
+------+--------------------------+----------+--------------+---+
|305095|av jucelino cursino       |centro    |São paulo     |SP |
|303989|av brasil                 |centro    |São paulo     |SP |
|400487|av interlargos            |centro    |São paulo     |SP |
|512496|av copacabana             |centro    |Rio de Janeiro|RJ |
|965268|rua dom pedro primeiro    |centro    |São paulo     |SP |
|931429|rua vicente giacaline     |Vila zilda|São paulo     |SP |
|287560|rua governador valadares  |Vila zilda|São paulo     |SP |
|840060|rua sérgio vicente        |Vila zilda|São paulo     |SP |
|746023|rua ana carolina fernandes|Vicenza   |São paulo     |SP |
|187173|rua sabrina freire        |Vicenza   |São paulo     |SP |
+------+--------------------------+----------+--------------+---+
only showing top 10 rows

.select() e construção de coluna

In [ ]:
df_cliente.select('cliente_id', F.col('nm_cliente')).show(5)
# 27min

+----------+-----------------+
|cliente_id|       nm_cliente|
+----------+-----------------+
|      1820|Vitor Hugo da Luz|
|      2275|      Ian Moreira|
|      2730|     Nicole Silva|
|      3185|    Enrico Araújo|
|      3640|    Lara Nogueira|
+----------+-----------------+
only showing top 5 rows

In [ ]:
df_cliente.select(
    F.to_date(
        F.col('dt_nasci'), 'ddMMyyyy').alias('dt_nasc'),
    'dt_nasci').show(5)
# 30min

+----------+--------+
|   dt_nasc|dt_nasci|
+----------+--------+
|1986-03-30|30031986|
|1983-03-20|20031983|
|1989-04-26|26041989|
|1982-11-18|18111982|
|1988-08-29|29081988|
+----------+--------+
only showing top 5 rows

.withColumn() e uma coluna com valor constante

In [ ]:
df_cliente = df_cliente.withColumn('pais', F.lit('BR'))
df_cliente.show(5)
# 33min

+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+----+
|cliente_id|       nm_cliente|nr_cpf|dt_nasci|         complemento| nr_telefone|   cep|  salario|desconto|     banco_pgto|pais|
+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+----+
|      1820|Vitor Hugo da Luz|108908|30031986|             179,...|00-0910-2646|400487|3.580.121|      21|033 - Santander|  BR|
|      2275|      Ian Moreira|163362|20031983|             97,c...|00-1365-3969|400487|1.116.351|     208|033 - Santander|  BR|
|      2730|     Nicole Silva|217816|26041989|             194,...|00-1820-5292|400487|  8954.32|     219|033 - Santander|  BR|
|      3185|    Enrico Araújo|272270|18111982|             304,...|00-2275-6615|  null|6.986.852|      12|033 - Santander|  BR|
|      3640|    Lara Nogueira|326724|29081988|             207,...|00-2730-7938|400487|6.358.743|     220|033 - Santander|  BR|
+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+----+
only showing top 5 rows

.withColumnrenamed()

In [ ]:
df_cliente = df_cliente.withColumnRenamed('pais', 'sigla_pais')
df_cliente.show(5)
# 35min

+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+----------+
|cliente_id|       nm_cliente|nr_cpf|dt_nasci|         complemento| nr_telefone|   cep|  salario|desconto|     banco_pgto|sigla_pais|
+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+----------+
|      1820|Vitor Hugo da Luz|108908|30031986|             179,...|00-0910-2646|400487|3.580.121|      21|033 - Santander|        BR|
|      2275|      Ian Moreira|163362|20031983|             97,c...|00-1365-3969|400487|1.116.351|     208|033 - Santander|        BR|
|      2730|     Nicole Silva|217816|26041989|             194,...|00-1820-5292|400487|  8954.32|     219|033 - Santander|        BR|
|      3185|    Enrico Araújo|272270|18111982|             304,...|00-2275-6615|  null|6.986.852|      12|033 - Santander|        BR|
|      3640|    Lara Nogueira|326724|29081988|             207,...|00-2730-7938|400487|6.358.743|     220|033 - Santander|        BR|
+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+----------+
only showing top 5 rows

.drop()

In [ ]:
df_cliente = df_cliente.drop('sigla_pais')
df_cliente.show(5)
# 390min

+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+
|cliente_id|       nm_cliente|nr_cpf|dt_nasci|         complemento| nr_telefone|   cep|  salario|desconto|     banco_pgto|
+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+
|      1820|Vitor Hugo da Luz|108908|30031986|             179,...|00-0910-2646|400487|3.580.121|      21|033 - Santander|
|      2275|      Ian Moreira|163362|20031983|             97,c...|00-1365-3969|400487|1.116.351|     208|033 - Santander|
|      2730|     Nicole Silva|217816|26041989|             194,...|00-1820-5292|400487|  8954.32|     219|033 - Santander|
|      3185|    Enrico Araújo|272270|18111982|             304,...|00-2275-6615|  null|6.986.852|      12|033 - Santander|
|      3640|    Lara Nogueira|326724|29081988|             207,...|00-2730-7938|400487|6.358.743|     220|033 - Santander|
+----------+-----------------+------+--------+--------------------+------------+------+---------+--------+---------------+
only showing top 5 rows

**.withColumn() e construção de colunas.**

In [ ]:
df_cliente = df_cliente.withColumn(
    'dt_nasci',
    F.to_date(
        F.col('dt_nasci'), format='ddMMyyyy')
    )

df_cliente.show(5)
# 45min

+----------+-----------------+------+----------+--------------------+------------+------+---------+--------+---------------+
|cliente_id|       nm_cliente|nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|  salario|desconto|     banco_pgto|
+----------+-----------------+------+----------+--------------------+------------+------+---------+--------+---------------+
|      1820|Vitor Hugo da Luz|108908|1986-03-30|             179,...|00-0910-2646|400487|3.580.121|      21|033 - Santander|
|      2275|      Ian Moreira|163362|1983-03-20|             97,c...|00-1365-3969|400487|1.116.351|     208|033 - Santander|
|      2730|     Nicole Silva|217816|1989-04-26|             194,...|00-1820-5292|400487|  8954.32|     219|033 - Santander|
|      3185|    Enrico Araújo|272270|1982-11-18|             304,...|00-2275-6615|  null|6.986.852|      12|033 - Santander|
|      3640|    Lara Nogueira|326724|1988-08-29|             207,...|00-2730-7938|400487|6.358.743|     220|033 - Santander|
+----------+-----------------+------+----------+--------------------+------------+------+---------+--------+---------------+
only showing top 5 rows

**Alterando o tipo de dados de uma coluna**

In [ ]:
df_cliente.printSchema()

root
 |-- cliente_id: integer (nullable = true)
 |-- nm_cliente: string (nullable = true)
 |-- nr_cpf: integer (nullable = true)
 |-- dt_nasci: date (nullable = true)
 |-- complemento: string (nullable = true)
 |-- nr_telefone: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- salario: string (nullable = true)
 |-- desconto: integer (nullable = true)
 |-- banco_pgto: string (nullable = true)

.cast(float)

In [ ]:
df_cliente = df_cliente.withColumn('salario', F.col('salario').cast('float'))
df_cliente.show(5)

# 48min

+----------+-----------------+------+----------+--------------------+------------+------+-------+--------+---------------+
|cliente_id|       nm_cliente|nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|
+----------+-----------------+------+----------+--------------------+------------+------+-------+--------+---------------+
|      1820|Vitor Hugo da Luz|108908|1986-03-30|             179,...|00-0910-2646|400487|   null|      21|033 - Santander|
|      2275|      Ian Moreira|163362|1983-03-20|             97,c...|00-1365-3969|400487|   null|     208|033 - Santander|
|      2730|     Nicole Silva|217816|1989-04-26|             194,...|00-1820-5292|400487|8954.32|     219|033 - Santander|
|      3185|    Enrico Araújo|272270|1982-11-18|             304,...|00-2275-6615|  null|   null|      12|033 - Santander|
|      3640|    Lara Nogueira|326724|1988-08-29|             207,...|00-2730-7938|400487|   null|     220|033 - Santander|
+----------+-----------------+------+----------+--------------------+------------+------+-------+--------+---------------+
only showing top 5 rows

In [ ]:
df_cliente.printSchema()

root
 |-- cliente_id: integer (nullable = true)
 |-- nm_cliente: string (nullable = true)
 |-- nr_cpf: integer (nullable = true)
 |-- dt_nasci: date (nullable = true)
 |-- complemento: string (nullable = true)
 |-- nr_telefone: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- salario: float (nullable = true)
 |-- desconto: integer (nullable = true)
 |-- banco_pgto: string (nullable = true)

In [ ]:
df_cliente = df_cliente.withColumn('desconto', F.col('desconto').cast('int'))
df_cliente.show(5)
# 52min

+----------+-----------------+------+----------+--------------------+------------+------+-------+--------+---------------+
|cliente_id|       nm_cliente|nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|
+----------+-----------------+------+----------+--------------------+------------+------+-------+--------+---------------+
|      1820|Vitor Hugo da Luz|108908|1986-03-30|             179,...|00-0910-2646|400487|   null|      21|033 - Santander|
|      2275|      Ian Moreira|163362|1983-03-20|             97,c...|00-1365-3969|400487|   null|     208|033 - Santander|
|      2730|     Nicole Silva|217816|1989-04-26|             194,...|00-1820-5292|400487|8954.32|     219|033 - Santander|
|      3185|    Enrico Araújo|272270|1982-11-18|             304,...|00-2275-6615|  null|   null|      12|033 - Santander|
|      3640|    Lara Nogueira|326724|1988-08-29|             207,...|00-2730-7938|400487|   null|     220|033 - Santander|
+----------+-----------------+------+----------+--------------------+------------+------+-------+--------+---------------+
only showing top 5 rows

 **Agrupamento de um dataframe**

.groupBy

In [ ]:
# 1:01min
df_cliente.groupBy().count().show()  #retorna um dataframe

+-----+
|count|
+-----+
|   59|
+-----+

In [ ]:
# 1:08min
df_cliente.groupBy().count().take(1)[0][0]  #retorna uma linha numa lista

59

Soma()

In [ ]:
df_cliente.groupBy().sum('salario').take(1)[0][0] #retorna um dataframe

18702.850463867188

Media

In [ ]:

df_cliente.groupBy().avg('salario').take(1)[0][0] #retorna um dataframe

6234.2834879557295

**Trabalhando com agrupamentos com chave**

In [ ]:
# 1:13min
df_cliente.groupBy(F.col('banco_pgto')).count().show(5)

+---------------+-----+
|     banco_pgto|count|
+---------------+-----+
|     341 - ITAU|   17|
| 237 - bradesco|   27|
|033 - Santander|   15|
+---------------+-----+

In [ ]:
# 1:15min
df_cliente.groupBy(F.col('banco_pgto')).avg('salario').show(5)

+---------------+------------------+
|     banco_pgto|      avg(salario)|
+---------------+------------------+
|     341 - ITAU|  7818.68017578125|
| 237 - bradesco|1929.8499755859375|
|033 - Santander|      8954.3203125|
+---------------+------------------+

In [ ]:
# 1:17min
df_cliente.groupBy(F.col('banco_pgto')).sum('salario').show(5)

+---------------+------------------+
|     banco_pgto|      sum(salario)|
+---------------+------------------+
|     341 - ITAU|  7818.68017578125|
| 237 - bradesco|1929.8499755859375|
|033 - Santander|      8954.3203125|
+---------------+------------------+

In [ ]:
# 1:18min
df_cliente.groupBy(F.year('dt_nasci')).count().show()

+--------------+-----+
|year(dt_nasci)|count|
+--------------+-----+
|          1990|    5|
|          1978|    2|
|          1988|    2|
|          1997|    5|
|          1994|    6|
|          1979|    1|
|          1991|    1|
|          1982|    3|
|          1989|    4|
|          1996|    5|
|          1998|    2|
|          1985|    1|
|          1987|    1|
|          1995|    3|
|          1992|    3|
|          1983|    6|
|          2000|    1|
|          1981|    1|
|          1986|    3|
|          1999|    4|
+--------------+-----+

In [ ]:
# 1:18min
df_cliente.groupBy(F.year('dt_nasci')).sum('desconto').show()

+--------------+-------------+
|year(dt_nasci)|sum(desconto)|
+--------------+-------------+
|          1990|          597|
|          1978|          207|
|          1988|          284|
|          1997|          759|
|          1994|          848|
|          1979|           84|
|          1991|          112|
|          1982|          361|
|          1989|          661|
|          1996|          641|
|          1998|          246|
|          1985|          216|
|          1987|           32|
|          1995|          194|
|          1992|          545|
|          1983|          952|
|          2000|          115|
|          1981|            6|
|          1986|          294|
|          1999|          301|
+--------------+-------------+

In [ ]:
# 1:20min
df_cliente.groupBy(
    F.year('dt_nasci'))\
    .agg(
        F.count('*'),
        F.sum('salario'),
        F.avg('desconto'))\
    .show()

+--------------+--------+------------------+------------------+
|year(dt_nasci)|count(1)|      sum(salario)|     avg(desconto)|
+--------------+--------+------------------+------------------+
|          1990|       5|              null|             119.4|
|          1978|       2|  7818.68017578125|             103.5|
|          1988|       2|              null|             142.0|
|          1997|       5|              null|             151.8|
|          1994|       6|              null|141.33333333333334|
|          1979|       1|              null|              84.0|
|          1991|       1|              null|             112.0|
|          1982|       3|              null|120.33333333333333|
|          1989|       4|      8954.3203125|            165.25|
|          1996|       5|              null|             128.2|
|          1998|       2|              null|             123.0|
|          1985|       1|              null|             216.0|
|          1987|       1|              null|              32.0|
|          1995|       3|              null| 64.66666666666667|
|          1992|       3|              null|181.66666666666666|
|          1983|       6|              null|158.66666666666666|
|          2000|       1|              null|             115.0|
|          1981|       1|              null|               6.0|
|          1986|       3|              null|              98.0|
|          1999|       4|1929.8499755859375|             75.25|
+--------------+--------+------------------+------------------+

Renomeando colunas calculadas

In [ ]:
# 1:26min
df_cliente.groupBy(
    F.year('dt_nasci').alias('year'))\
    .agg(
        F.count('*').alias('count'),
        F.sum('salario').alias('soma'),
        F.avg('desconto').alias('media'))\
    .show()

+----+-----+------------------+------------------+
|year|count|              soma|             media|
+----+-----+------------------+------------------+
|1990|    5|              null|             119.4|
|1978|    2|  7818.68017578125|             103.5|
|1988|    2|              null|             142.0|
|1997|    5|              null|             151.8|
|1994|    6|              null|141.33333333333334|
|1979|    1|              null|              84.0|
|1991|    1|              null|             112.0|
|1982|    3|              null|120.33333333333333|
|1989|    4|      8954.3203125|            165.25|
|1996|    5|              null|             128.2|
|1998|    2|              null|             123.0|
|1985|    1|              null|             216.0|
|1987|    1|              null|              32.0|
|1995|    3|              null| 64.66666666666667|
|1992|    3|              null|181.66666666666666|
|1983|    6|              null|158.66666666666666|
|2000|    1|              null|             115.0|
|1981|    1|              null|               6.0|
|1986|    3|              null|              98.0|
|1999|    4|1929.8499755859375|             75.25|
+----+-----+------------------+------------------+

ordernando um dataframe de forma ascendente

In [ ]:
# 1:33min
df_cliente.orderBy(F.col('dt_nasci').asc()).show(5)

+----------+-------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+
|cliente_id|         nm_cliente| nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|
+----------+-------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+
|     21840|  João Pedro Moraes|2504884|1978-04-19|             344,...|02-0936-0858|931949|   null|      35| 237 - bradesco|
|     14560|  João Vitor Farias|1633620|1978-10-13|             65,c...|01-3653-9690|  null|7818.68|     172|     341 - ITAU|
|     18655|Davi Luiz Rodrigues|2123706|1979-05-30|             212,...|01-7750-1597|931949|   null|      84| 237 - bradesco|
|     22295|      Laura Peixoto|2559338|1981-06-11|             313,...|02-1391-2181|931949|   null|       6| 237 - bradesco|
|      6825|   Bárbara Nogueira| 707902|1982-02-14|             281,...|00-5916-7199|512496|   null|     124|033 - Santander|
+----------+-------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+
only showing top 5 rows

In [ ]:
# 1:36min
df_cliente.orderBy(F.col('dt_nasci').desc()).show(5)

+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+--------------+
|cliente_id|          nm_cliente| nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|    banco_pgto|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+--------------+
|     24115|       Davi da Cunha|2777154|2000-05-27|             152,...|02-3211-7473|667061|   null|     115|237 - bradesco|
|     22750|      Lucca Caldeira|2613792|1999-11-29|             104,...|02-1846-3504|931949|   null|      55|237 - bradesco|
|     23205| Davi Lucca Nogueira|2668246|1999-11-29|             29,c...|02-2301-4827|667061|   null|     149|237 - bradesco|
|     17290|Luiz Gustavo Cava...|1960344|1999-05-20|             164,...|01-6384-7628|931949|   null|       9|237 - bradesco|
|     19110|       Joana da Mata|2178160|1999-04-11|             204,...|01-8205-2920|  null|1929.85|      88|237 - bradesco|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+--------------+
only showing top 5 rows

In [ ]:
# 1:37min
df_cliente.orderBy(F.col('banco_pgto'),F.col('desconto').desc()).show(5)

+----------+--------------+------+----------+--------------------+------------+------+-------+--------+---------------+
|cliente_id|    nm_cliente|nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|
+----------+--------------+------+----------+--------------------+------------+------+-------+--------+---------------+
|      7735|Caroline Pires|816810|1982-05-29|             78,c...|00-6826-9845|  null|   null|     225|033 - Santander|
|      3640| Lara Nogueira|326724|1988-08-29|             207,...|00-2730-7938|400487|   null|     220|033 - Santander|
|      2730|  Nicole Silva|217816|1989-04-26|             194,...|00-1820-5292|400487|8954.32|     219|033 - Santander|
|      5005| Rafaela Viana|490086|1996-05-19|             66,c...|00-4096-1907|400487|   null|     214|033 - Santander|
|      2275|   Ian Moreira|163362|1983-03-20|             97,c...|00-1365-3969|400487|   null|     208|033 - Santander|
+----------+--------------+------+----------+--------------------+------------+------+-------+--------+---------------+
only showing top 5 rows

ordenando com colunas calculadas

In [ ]:
# 1:41min
df_cliente.orderBy(F.year('dt_nasci')).show(5)

+----------+-------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+
|cliente_id|         nm_cliente| nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|
+----------+-------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+
|     14560|  João Vitor Farias|1633620|1978-10-13|             65,c...|01-3653-9690|  null|7818.68|     172|     341 - ITAU|
|     21840|  João Pedro Moraes|2504884|1978-04-19|             344,...|02-0936-0858|931949|   null|      35| 237 - bradesco|
|     18655|Davi Luiz Rodrigues|2123706|1979-05-30|             212,...|01-7750-1597|931949|   null|      84| 237 - bradesco|
|     22295|      Laura Peixoto|2559338|1981-06-11|             313,...|02-1391-2181|931949|   null|       6| 237 - bradesco|
|      3185|      Enrico Araújo| 272270|1982-11-18|             304,...|00-2275-6615|  null|   null|      12|033 - Santander|
+----------+-------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+
only showing top 5 rows

**Join entre dataframes**

left

In [ ]:
# 1:44min
df_cliente.join(df_endereco, on=[F.col('cep') == F.col('cep_id')], how='left').show()

+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------+------+--------------+----+
|cliente_id|          nm_cliente| nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|cep_id|   nm_enredeco|bairro|        cidade|  UF|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------+------+--------------+----+
|      1820|   Vitor Hugo da Luz| 108908|1986-03-30|             179,...|00-0910-2646|400487|   null|      21|033 - Santander|400487|av interlargos|centro|     São paulo|  SP|
|      2275|         Ian Moreira| 163362|1983-03-20|             97,c...|00-1365-3969|400487|   null|     208|033 - Santander|400487|av interlargos|centro|     São paulo|  SP|
|      2730|        Nicole Silva| 217816|1989-04-26|             194,...|00-1820-5292|400487|8954.32|     219|033 - Santander|400487|av interlargos|centro|     São paulo|  SP|
|      3185|       Enrico Araújo| 272270|1982-11-18|             304,...|00-2275-6615|  null|   null|      12|033 - Santander|  null|          null|  null|          null|null|
|      3640|       Lara Nogueira| 326724|1988-08-29|             207,...|00-2730-7938|400487|   null|     220|033 - Santander|400487|av interlargos|centro|     São paulo|  SP|
|      4095|Carlos Eduardo da...| 381178|1997-01-15|             121,...|00-3185-9261|400487|   null|     149|033 - Santander|400487|av interlargos|centro|     São paulo|  SP|
|      4550|     Larissa Correia| 435632|1997-07-15|             309,...|00-3641-0584|400487|   null|     164|033 - Santander|400487|av interlargos|centro|     São paulo|  SP|
|      5005|       Rafaela Viana| 490086|1996-05-19|             66,c...|00-4096-1907|400487|   null|     214|033 - Santander|400487|av interlargos|centro|     São paulo|  SP|
|      5460|       Raul Carvalho| 544540|1988-01-16|             333,...|00-4551-3230|  null|   null|      64|033 - Santander|  null|          null|  null|          null|null|
|      5915|      Lorenzo Novaes| 598994|1983-05-25|             21,c...|00-5006-4553|512496|   null|     192|033 - Santander|512496| av copacabana|centro|Rio de Janeiro|  RJ|
|      6370|      Alexia Ribeiro| 653448|1990-07-30|             291,...|00-5461-5876|512496|   null|      61|033 - Santander|512496| av copacabana|centro|Rio de Janeiro|  RJ|
|      6825|    Bárbara Nogueira| 707902|1982-02-14|             281,...|00-5916-7199|512496|   null|     124|033 - Santander|512496| av copacabana|centro|Rio de Janeiro|  RJ|
|      7280|   Stephany da Rocha| 762356|1989-07-26|             314,...|00-6371-8522|512496|   null|     103|033 - Santander|512496| av copacabana|centro|Rio de Janeiro|  RJ|
|      7735|      Caroline Pires| 816810|1982-05-29|             78,c...|00-6826-9845|  null|   null|     225|033 - Santander|  null|          null|  null|          null|null|
|      8190|        Kaique Jesus| 871264|1987-04-19|             260,...|00-7282-1168|  null|   null|      32|033 - Santander|  null|          null|  null|          null|null|
|      8645|        Alice da Luz| 925718|1998-09-13|             142,...|00-7737-2491|  null|   null|     118|     341 - ITAU|  null|          null|  null|          null|null|
|      9100|       Eduarda Costa| 980172|1983-07-15|             197,...|00-8192-3814|512496|   null|     151|     341 - ITAU|512496| av copacabana|centro|Rio de Janeiro|  RJ|
|      9555|        Helena Souza|1034626|1995-09-22|             205,...|00-8647-5137|512496|   null|      33|     341 - ITAU|512496| av copacabana|centro|Rio de Janeiro|  RJ|
|     10010|      Lorena Azevedo|1089080|1995-11-22|             325,...|00-9102-6460|512496|   null|     120|     341 - ITAU|512496| av copacabana|centro|Rio de Janeiro|  RJ|
|     10465|Maria Vitória da ...|1143534|1996-10-28|             193,...|00-9557-7783|512496|   null|      25|     341 - ITAU|512496| av copacabana|centro|Rio de Janeiro|  RJ|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------+------+--------------+----+
only showing top 20 rows

In [ ]:
df_cliente.count()

59

In [ ]:
# 1:44min
df_cliente.join(df_endereco, on=[F.col('cep') == F.col('cep_id')], how='left').count()

59

inner

In [ ]:
# 1:44min
df_cliente.join(df_endereco, on=[F.col('cep') == F.col('cep_id')], how='inner').show()

+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------------+----------+--------------+---+
|cliente_id|          nm_cliente| nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|cep_id|         nm_enredeco|    bairro|        cidade| UF|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------------+----------+--------------+---+
|      1820|   Vitor Hugo da Luz| 108908|1986-03-30|             179,...|00-0910-2646|400487|   null|      21|033 - Santander|400487|      av interlargos|    centro|     São paulo| SP|
|      2275|         Ian Moreira| 163362|1983-03-20|             97,c...|00-1365-3969|400487|   null|     208|033 - Santander|400487|      av interlargos|    centro|     São paulo| SP|
|      2730|        Nicole Silva| 217816|1989-04-26|             194,...|00-1820-5292|400487|8954.32|     219|033 - Santander|400487|      av interlargos|    centro|     São paulo| SP|
|      3640|       Lara Nogueira| 326724|1988-08-29|             207,...|00-2730-7938|400487|   null|     220|033 - Santander|400487|      av interlargos|    centro|     São paulo| SP|
|      4095|Carlos Eduardo da...| 381178|1997-01-15|             121,...|00-3185-9261|400487|   null|     149|033 - Santander|400487|      av interlargos|    centro|     São paulo| SP|
|      4550|     Larissa Correia| 435632|1997-07-15|             309,...|00-3641-0584|400487|   null|     164|033 - Santander|400487|      av interlargos|    centro|     São paulo| SP|
|      5005|       Rafaela Viana| 490086|1996-05-19|             66,c...|00-4096-1907|400487|   null|     214|033 - Santander|400487|      av interlargos|    centro|     São paulo| SP|
|      5915|      Lorenzo Novaes| 598994|1983-05-25|             21,c...|00-5006-4553|512496|   null|     192|033 - Santander|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|      6370|      Alexia Ribeiro| 653448|1990-07-30|             291,...|00-5461-5876|512496|   null|      61|033 - Santander|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|      6825|    Bárbara Nogueira| 707902|1982-02-14|             281,...|00-5916-7199|512496|   null|     124|033 - Santander|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|      7280|   Stephany da Rocha| 762356|1989-07-26|             314,...|00-6371-8522|512496|   null|     103|033 - Santander|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|      9100|       Eduarda Costa| 980172|1983-07-15|             197,...|00-8192-3814|512496|   null|     151|     341 - ITAU|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|      9555|        Helena Souza|1034626|1995-09-22|             205,...|00-8647-5137|512496|   null|      33|     341 - ITAU|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|     10010|      Lorena Azevedo|1089080|1995-11-22|             325,...|00-9102-6460|512496|   null|     120|     341 - ITAU|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|     10465|Maria Vitória da ...|1143534|1996-10-28|             193,...|00-9557-7783|512496|   null|      25|     341 - ITAU|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|     10920|     Bárbara Moreira|1197988|1989-08-27|             165,...|01-0012-9106|512496|   null|     111|     341 - ITAU|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|     11375|           Nina Dias|1252442|1996-03-25|             135,...|01-0468-0429|512496|   null|     184|     341 - ITAU|512496|       av copacabana|    centro|Rio de Janeiro| RJ|
|     11830|   Luiz Otávio Sales|1306896|1983-05-16|             38,c...|01-0923-1752|287560|   null|     155|     341 - ITAU|287560|rua governador va...|Vila zilda|     São paulo| SP|
|     12740|Maria Sophia Martins|1415804|1994-03-29|             121,...|01-1833-4398|287560|   null|      44|     341 - ITAU|287560|rua governador va...|Vila zilda|     São paulo| SP|
|     13195|      Caroline Cunha|1470258|1997-01-31|             307,...|01-2288-5721|287560|   null|     186|     341 - ITAU|287560|rua governador va...|Vila zilda|     São paulo| SP|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------------+----------+--------------+---+
only showing top 20 rows

In [ ]:
# 1:44min
df_cliente.join(df_endereco, on=[F.col('cep') == F.col('cep_id')], how='inner').count()

50

right

In [ ]:
# 1:44min
df_cliente.join(df_endereco, on=[F.col('cep') == F.col('cep_id')], how='right').show()

+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------------+------+--------------+---+
|cliente_id|          nm_cliente| nr_cpf|  dt_nasci|         complemento| nr_telefone|   cep|salario|desconto|     banco_pgto|cep_id|         nm_enredeco|bairro|        cidade| UF|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------------+------+--------------+---+
|      null|                null|   null|      null|                null|        null|  null|   null|    null|           null|305095| av jucelino cursino|centro|     São paulo| SP|
|      null|                null|   null|      null|                null|        null|  null|   null|    null|           null|303989|           av brasil|centro|     São paulo| SP|
|      5005|       Rafaela Viana| 490086|1996-05-19|             66,c...|00-4096-1907|400487|   null|     214|033 - Santander|400487|      av interlargos|centro|     São paulo| SP|
|      4550|     Larissa Correia| 435632|1997-07-15|             309,...|00-3641-0584|400487|   null|     164|033 - Santander|400487|      av interlargos|centro|     São paulo| SP|
|      4095|Carlos Eduardo da...| 381178|1997-01-15|             121,...|00-3185-9261|400487|   null|     149|033 - Santander|400487|      av interlargos|centro|     São paulo| SP|
|      3640|       Lara Nogueira| 326724|1988-08-29|             207,...|00-2730-7938|400487|   null|     220|033 - Santander|400487|      av interlargos|centro|     São paulo| SP|
|      2730|        Nicole Silva| 217816|1989-04-26|             194,...|00-1820-5292|400487|8954.32|     219|033 - Santander|400487|      av interlargos|centro|     São paulo| SP|
|      2275|         Ian Moreira| 163362|1983-03-20|             97,c...|00-1365-3969|400487|   null|     208|033 - Santander|400487|      av interlargos|centro|     São paulo| SP|
|      1820|   Vitor Hugo da Luz| 108908|1986-03-30|             179,...|00-0910-2646|400487|   null|      21|033 - Santander|400487|      av interlargos|centro|     São paulo| SP|
|     11375|           Nina Dias|1252442|1996-03-25|             135,...|01-0468-0429|512496|   null|     184|     341 - ITAU|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|     10920|     Bárbara Moreira|1197988|1989-08-27|             165,...|01-0012-9106|512496|   null|     111|     341 - ITAU|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|     10465|Maria Vitória da ...|1143534|1996-10-28|             193,...|00-9557-7783|512496|   null|      25|     341 - ITAU|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|     10010|      Lorena Azevedo|1089080|1995-11-22|             325,...|00-9102-6460|512496|   null|     120|     341 - ITAU|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|      9555|        Helena Souza|1034626|1995-09-22|             205,...|00-8647-5137|512496|   null|      33|     341 - ITAU|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|      9100|       Eduarda Costa| 980172|1983-07-15|             197,...|00-8192-3814|512496|   null|     151|     341 - ITAU|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|      7280|   Stephany da Rocha| 762356|1989-07-26|             314,...|00-6371-8522|512496|   null|     103|033 - Santander|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|      6825|    Bárbara Nogueira| 707902|1982-02-14|             281,...|00-5916-7199|512496|   null|     124|033 - Santander|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|      6370|      Alexia Ribeiro| 653448|1990-07-30|             291,...|00-5461-5876|512496|   null|      61|033 - Santander|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|      5915|      Lorenzo Novaes| 598994|1983-05-25|             21,c...|00-5006-4553|512496|   null|     192|033 - Santander|512496|       av copacabana|centro|Rio de Janeiro| RJ|
|      null|                null|   null|      null|                null|        null|  null|   null|    null|           null|965268|rua dom pedro pri...|centro|     São paulo| SP|
+----------+--------------------+-------+----------+--------------------+------------+------+-------+--------+---------------+------+--------------------+------+--------------+---+
only showing top 20 rows

In [ ]:
df_cliente.join(df_endereco, on=[F.col('cep') == F.col('cep_id')], how='right').count()

60

# **5.2 Aprendendo Metodos de DataFrame - Parte 2**

In [ ]:
# 8min

spark = SparkSession.builder\
        .config('spark.jars', '/content/spark-3.4.3-bin-hadoop3/jars/sqlite-jdbc-3.44.0.jar')\
        .appName('groupBy-Join')\
        .master('local')\
        .getOrCreate();

Leitura dos dataframes JDBC

In [ ]:
driver = "org.sqlite.JDBC"
path = "content/sample_data/Chinook.db"
url = "jdbc:sqlite:" + path
tablename = "Customer"
dbDataFrame = spark.read.format("jdbc").option("url", url)\
.option("dbtable", tablename).option("driver", driver).load()

In [ ]:
spark.read.jdbc(properties={'driver':'org.sqlite.JDBC'}, url='jdbc:sqlite:/content/sample_data/Chinook.db', table='Customer').show()

Exemplo de join()

In [ ]:
df = df1.join(df2, on='cliente_id', how='inner')\
        .join(df3, on='id_pedido', how='left').show(5)

verificar a quantidade de produtos comprados por cada cliente

In [ ]:
# 54min
df_cliente.join(df_vendas, on='cliente_id', how='inner')\
        .join(df3, on='id_pedido', how='left')\
        .groupBy(F.col('cliente_id')).count()

Elencar do maior pro menor

In [ ]:
# 1:05min
df_cliente.join(df_vendas, on='cliente_id', how='inner')\
        .join(df3, on='id_pedido', how='left')\
        .groupBy(F.col('cliente_id'))\
        .agg(F.count('*').alias('qnt'), F.sum('vlr_vendas').alias('sum'))\
        .orderBy(F.col('qnt').desc()).show()

verificar qtde tipo de pgto e soma

In [ ]:
# 1:15min
df_vendas.groupyBy(F.col('forma_pgto')).agg(F.count('*'), F.sum('vlr_total').alias('sum')).show()

Qtde clientes por bairro

In [ ]:
df_clientes\
  .join(df_endereco,
        on=[dfclientes['cep_id'] == df_endereco['cep']],
        how='left')\
  .groupBy(F.col('bairro')).count().show()

Verificar metodos de pagamentos distintos

In [ ]:
df_endereco.select('bairro').distinct()

In [ ]:
df_vendas.select('forma_pgto').distinct().show()

# **6. Booleanos em colunas**

# **6.1 Booleanos**

In [ ]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.4.3-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"
import findspark
findspark.init('spark-3.4.3-bin-hadoop3')

spark Session

In [ ]:
# 8min
# SparkSession
from pyspark.sql import SparkSession
# Funções de colunas
from pyspark.sql import functions as F

# Subir o arquivos jdbc na pasta jars do spark e subir o arquivo vendas.db.
spark = SparkSession.builder\
  .config('spark.jars', '/content/spark-3.4.3-bin-hadoop3/jars/sqlite-jdbc-3.34.0.jar')\
  .appName('aula5').master('local').getOrCreate();

Booleanos no python

In [ ]:
# 23min
df_customer = spark.read.jdbc(
    properties={'driver':'org.sqlite.JDBC'},
    url='jdbc:sqlite:/content/sample_data/Chinook.db',
    table='Customer')

df_customer.show(5)

+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 5 rows

In [ ]:
# 29min
df_genre = spark.read.jdbc(
    properties={'driver':'org.sqlite.JDBC'},
    url='jdbc:sqlite:/content/sample_data/Chinook.db',
    table='Genre')

df_genre.show(5)

+-------+------------------+
|GenreId|              Name|
+-------+------------------+
|      1|              Rock|
|      2|              Jazz|
|      3|             Metal|
|      4|Alternative & Punk|
|      5|     Rock And Roll|
+-------+------------------+
only showing top 5 rows

Explessão basica usando booleano

In [ ]:
df_customer.select (
    F.col('Phone'),
    F.col('Fax'),
    (
        F.col('Phone') == F.col('Fax')
    ).alias('bool')
).show(10)

+------------------+------------------+-----+
|             Phone|               Fax| bool|
+------------------+------------------+-----+
|+55 (12) 3923-5555|+55 (12) 3923-5566|false|
|  +49 0711 2842222|              null| null|
| +1 (514) 721-4711|              null| null|
|   +47 22 44 22 22|              null| null|
|  +420 2 4172 5555|  +420 2 4172 5555| true|
|  +420 2 4177 0449|              null| null|
|    +43 01 5134505|              null| null|
|  +32 02 219 03 03|              null| null|
|    +453 3331 9991|              null| null|
|+55 (11) 3033-5446|+55 (11) 3033-4564|false|
+------------------+------------------+-----+
only showing top 10 rows

Composto

In [ ]:
df_customer.select (
    F.col('Phone'),
    F.col('Fax'),
    (
        (
            F.col('Phone') == F.col('Fax')
        ) & (
            F.col('Phone') != F.col('Fax')
        )
    ).alias('bool_and'),
    (
        (
            F.col('Phone') == F.col('Fax')
        ) | (
            F.col('Phone') != F.col('Fax')
        )
    ).alias('bool_or')
).show(10)

+------------------+------------------+--------+-------+
|             Phone|               Fax|bool_and|bool_or|
+------------------+------------------+--------+-------+
|+55 (12) 3923-5555|+55 (12) 3923-5566|   false|   true|
|  +49 0711 2842222|              null|    null|   null|
| +1 (514) 721-4711|              null|    null|   null|
|   +47 22 44 22 22|              null|    null|   null|
|  +420 2 4172 5555|  +420 2 4172 5555|   false|   true|
|  +420 2 4177 0449|              null|    null|   null|
|    +43 01 5134505|              null|    null|   null|
|  +32 02 219 03 03|              null|    null|   null|
|    +453 3331 9991|              null|    null|   null|
|+55 (11) 3033-5446|+55 (11) 3033-4564|   false|   true|
+------------------+------------------+--------+-------+
only showing top 10 rows

metodo booleanos dentro do objeto F

between

In [ ]:
# 40min
help(F.col('').between)

Help on method between in module pyspark.sql.column:

between(lowerBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')], upperBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')]) -> 'Column' method of pyspark.sql.column.Column instance
    True if the current column is between the lower bound and upper bound, inclusive.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    lowerBound : :class:`Column`, int, float, string, bool, datetime, date or Decimal
        a boolean expression that boundary start, inclusive.
    upperBound : :class:`Column`, int, float, string, bool, datetime, date or Decimal
        a boolean expression that boundary end, inclusive.

    Returns
    -------
    :class:`Column`
        Column of booleans showing whether each element of Column
        is between left and right (inclusive).

    Examples
    --------
    >>> df = spark.createDataFrame(
    ...      [(2, "Alice"), (5, "Bob")], ["age", "name"])
    >>> df.select(df.name, df.age.between(2, 4)).show()
    +-----+---------------------------+
    | name|((age >= 2) AND (age <= 4))|
    +-----+---------------------------+
    |Alice|                       true|
    |  Bob|                      false|
    +-----+---------------------------+

In [ ]:
# 57min
df_customer.select(
    F.col('SupportRepId'),
    F.col('SupportRepId').between(1,2)
).show()

+------------+---------------------------------------------+
|SupportRepId|((SupportRepId >= 1) AND (SupportRepId <= 2))|
+------------+---------------------------------------------+
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
|           3|                                        false|
+------------+---------------------------------------------+
only showing top 20 rows

contains

In [ ]:
# 1:15min
df_customer.select(
    F.col('FirstName'),
    F.col('FirstName').contains('a').alias('contem_a')
).show(5)

+---------+--------+
|FirstName|contem_a|
+---------+--------+
|     Luís|   false|
|   Leonie|   false|
| François|    true|
|    Bjørn|   false|
|František|    true|
+---------+--------+
only showing top 5 rows

isNull ou isnotNull

In [ ]:
df_customer.show(10)

+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
|         6|   Helena|       Holý|                null|       Rilská 3174/6|             Prague| null|Czech Republic|     14300|  +420 2 4177 0449|              null|     hholy@gmail.com|           5|
|         7|   Astrid|     Gruber|                null|Rotenturmstraße 4...|             Vienne| null|       Austria|      1010|    +43 01 5134505|              null|astrid.gruber@app...|           5|
|         8|     Daan|    Peeters|                null|     Grétrystraat 63|           Brussels| null|       Belgium|      1000|  +32 02 219 03 03|              null|daan_peeters@appl...|           4|
|         9|     Kara|    Nielsen|                null| Sønder Boulevard 51|         Copenhagen| null|       Denmark|      1720|    +453 3331 9991|              null|kara.nielsen@jubi...|           4|
|        10|  Eduardo|    Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP|        Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 10 rows

In [ ]:
# 1:26min
df_customer.select (
    F.col('FirstName'),
    F.col('Fax'),
    F.col('Fax').isNotNull().alias('bool')
)\
.orderBy(F.col('bool').asc()).show(10)

+---------+------------------+-----+
|FirstName|               Fax| bool|
+---------+------------------+-----+
|   Leonie|              null|false|
| François|              null|false|
|    Bjørn|              null|false|
|   Helena|              null|false|
|   Astrid|              null|false|
|     Daan|              null|false|
|     Kara|              null|false|
|      Dan|              null|false|
|    Kathy|              null|false|
|  Heather|              null|false|
|     John|              null|false|
|    Frank|              null|false|
|   Victor|              null|false|
|  Richard|              null|false|
|  Patrick|              null|false|
|    Julia|              null|false|
|   Robert|              null|false|
|   Edward|              null|false|
|   Martha|              null|false|
|    Aaron|              null|false|
|    Ellie|              null|false|
|     João|              null|false|
| Madalena|              null|false|
|   Hannah|              null|false|
|     Fynn|              null|false|
|   Niklas|              null|false|
|  Camille|              null|false|
|Dominique|              null|false|
|     Marc|              null|false|
|    Wyatt|              null|false|
| Isabelle|              null|false|
|    Terhi|              null|false|
| Ladislav|              null|false|
|     Hugh|              null|false|
|    Lucas|              null|false|
| Johannes|              null|false|
|Stanisław|              null|false|
|  Enrique|              null|false|
|   Joakim|              null|false|
|     Emma|              null|false|
|     Phil|              null|false|
|    Steve|              null|false|
|     Mark|              null|false|
|    Diego|              null|false|
|     Luis|              null|false|
|    Manoj|              null|false|
|     Puja|              null|false|
|     Luís|+55 (12) 3923-5566| true|
|František|  +420 2 4172 5555| true|
|  Eduardo|+55 (11) 3033-4564| true|
|Alexandre|+55 (11) 3055-8131| true|
|  Roberto|+55 (21) 2271-7070| true|
| Fernanda|+55 (61) 3363-7855| true|
|     Mark| +1 (780) 434-5565| true|
| Jennifer| +1 (604) 688-8756| true|
|    Frank| +1 (650) 253-0000| true|
|     Jack| +1 (425) 882-8081| true|
| Michelle| +1 (212) 221-4679| true|
|      Tim| +1 (408) 996-1011| true|
+---------+------------------+-----+

In [ ]:
# 1:26min
df_customer.select (
    F.col('FirstName'),
    F.col('Fax'),
    F.col('Fax').isNull().alias('bool')
)\
.orderBy(F.col('bool').asc()).show()

+---------+------------------+-----+
|FirstName|               Fax| bool|
+---------+------------------+-----+
|     Luís|+55 (12) 3923-5566|false|
|František|  +420 2 4172 5555|false|
|  Eduardo|+55 (11) 3033-4564|false|
|Alexandre|+55 (11) 3055-8131|false|
|  Roberto|+55 (21) 2271-7070|false|
| Fernanda|+55 (61) 3363-7855|false|
|     Mark| +1 (780) 434-5565|false|
| Jennifer| +1 (604) 688-8756|false|
|    Frank| +1 (650) 253-0000|false|
|     Jack| +1 (425) 882-8081|false|
| Michelle| +1 (212) 221-4679|false|
|      Tim| +1 (408) 996-1011|false|
|   Leonie|              null| true|
| François|              null| true|
|    Bjørn|              null| true|
|   Helena|              null| true|
|   Astrid|              null| true|
|     Daan|              null| true|
|     Kara|              null| true|
|      Dan|              null| true|
+---------+------------------+-----+
only showing top 20 rows

isin - funciona parecido como IN no SQL

In [ ]:
# 1:30min
df_customer.select('Country').distinct().show()

+--------------+
|       Country|
+--------------+
|        Sweden|
|       Germany|
|        France|
|     Argentina|
|       Belgium|
|       Finland|
|         India|
|         Chile|
|         Italy|
|        Norway|
|         Spain|
|       Denmark|
|       Ireland|
|           USA|
|        Canada|
|Czech Republic|
|        Brazil|
|        Poland|
|      Portugal|
|     Australia|
+--------------+
only showing top 20 rows

In [ ]:
paises = ['Brazil', 'Portugal', 'Canada']

df_customer.select(
    F.col('FirstName'),
    F.col('Country'),
    F.col('Country').isin(paises).alias('parceiros')
).show(10)

+---------+--------------+---------+
|FirstName|       Country|parceiros|
+---------+--------------+---------+
|     Luís|        Brazil|     true|
|   Leonie|       Germany|    false|
| François|        Canada|     true|
|    Bjørn|        Norway|    false|
|František|Czech Republic|    false|
|   Helena|Czech Republic|    false|
|   Astrid|       Austria|    false|
|     Daan|       Belgium|    false|
|     Kara|       Denmark|    false|
|  Eduardo|        Brazil|     true|
+---------+--------------+---------+
only showing top 10 rows

not() = ~

In [ ]:
df_customer.select(
    F.col('FirstName'),
    F.col('Country'),
    (~F.col('Country').isin(paises)).alias('parceiros')
).show(10)

+---------+--------------+---------+
|FirstName|       Country|parceiros|
+---------+--------------+---------+
|     Luís|        Brazil|    false|
|   Leonie|       Germany|     true|
| François|        Canada|    false|
|    Bjørn|        Norway|     true|
|František|Czech Republic|     true|
|   Helena|Czech Republic|     true|
|   Astrid|       Austria|     true|
|     Daan|       Belgium|     true|
|     Kara|       Denmark|     true|
|  Eduardo|        Brazil|    false|
+---------+--------------+---------+
only showing top 10 rows

Like

In [ ]:
df_customer.select(
    F.col('FirstName'),
    F.col('FirstName').like('%na%').alias('like_1')
).show()

+---------+------+
|FirstName|like_1|
+---------+------+
|     Luís| false|
|   Leonie| false|
| François| false|
|    Bjørn| false|
|František| false|
|   Helena|  true|
|   Astrid| false|
|     Daan| false|
|     Kara| false|
|  Eduardo| false|
|Alexandre| false|
|  Roberto| false|
| Fernanda|  true|
|     Mark| false|
| Jennifer| false|
|    Frank| false|
|     Jack| false|
| Michelle| false|
|      Tim| false|
|      Dan| false|
+---------+------+
only showing top 20 rows

rlike

In [ ]:
help(F.col('').rlike)

Help on method rlike in module pyspark.sql.column:

rlike(other: str) -> 'Column' method of pyspark.sql.column.Column instance
    SQL RLIKE expression (LIKE with Regex). Returns a boolean :class:`Column` based on a regex
    match.

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    other : str
        an extended regex expression

    Returns
    -------
    :class:`Column`
        Column of booleans showing whether each element
        in the Column is matched by extended regex expression.

    Examples
    --------
    >>> df = spark.createDataFrame(
    ...      [(2, "Alice"), (5, "Bob")], ["age", "name"])
    >>> df.filter(df.name.rlike('ice$')).collect()
    [Row(age=2, name='Alice')]

In [ ]:
r_like = ['ni', 'le', 'rt']

print('|'.join(r_like))

df_customer.select(
    F.col('FirstName'),
    F.col('FirstName').rlike('|'.join(r_like)).alias('like_2')
).show()

ni|le|rt
+---------+------+
|FirstName|like_2|
+---------+------+
|     Luís| false|
|   Leonie|  true|
| François| false|
|    Bjørn| false|
|František| false|
|   Helena|  true|
|   Astrid| false|
|     Daan| false|
|     Kara| false|
|  Eduardo| false|
|Alexandre|  true|
|  Roberto|  true|
| Fernanda| false|
|     Mark| false|
| Jennifer|  true|
|    Frank| false|
|     Jack| false|
| Michelle|  true|
|      Tim| false|
|      Dan| false|
+---------+------+
only showing top 20 rows

# **6.2 Booleanos com filter e pivot**

In [ ]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.4.3-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"
import findspark
findspark.init('spark-3.4.3-bin-hadoop3')

SparkSession

In [ ]:
# 2min
# SparkSession
from pyspark.sql import SparkSession
# Funções de colunas
from pyspark.sql import functions as F

# Subir o arquivos jdbc na pasta jars do spark e subir o arquivo vendas.db.
spark = SparkSession.builder\
  .config('spark.jars', '/content/spark-3.4.3-bin-hadoop3/jars/sqlite-jdbc-3.34.0.jar')\
  .appName('aula6').master('local').getOrCreate();

In [ ]:
# 4min
df_customer = spark.read.jdbc(
    properties={'driver':'org.sqlite.JDBC'},
    url='jdbc:sqlite:/content/sample_data/Chinook.db',
    table='Customer')

df_customer.show(5)

+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 5 rows

In [ ]:
# 4min
df_customer = spark.read.jdbc(
    properties={'driver':'org.sqlite.JDBC'},
    url='jdbc:sqlite:/content/sample_data/Chinook.db',
    table='Customer')

df_customer.show(5)

+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 5 rows

In [ ]:
# 4min
df_employee = spark.read.jdbc(
    properties={'driver':'org.sqlite.JDBC'},
    url='jdbc:sqlite:/content/sample_data/Chinook.db',
    table='Employee')

expressão basica

In [ ]:
df_employee.select(
    F.col('LastName'),
    (F.col('LastName') == 'Park').alias('bool')
).show()

+--------+-----+
|LastName| bool|
+--------+-----+
|   Adams|false|
| Edwards|false|
| Peacock|false|
|    Park| true|
| Johnson|false|
|Mitchell|false|
|    King|false|
|Callahan|false|
+--------+-----+

expressão composta com operações logicas

In [ ]:
df_employee.select(
    F.col('LastName'),
    F.col('BirthDate'),
    F.substring('BirthDate', 0, 4).alias('year'),
    ((F.col('LastName') == 'Park') | (F.substring('BirthDate', 0, 4) == '1973')).alias('bool')
).show()

funções booleanas em uma coluna

contains

In [ ]:
# 23min
df_employee.select(
    F.col('LastName'),
    F.col('LastName').contains('son').alias('bool')
).show()

+--------+-----+
|LastName| bool|
+--------+-----+
|   Adams|false|
| Edwards|false|
| Peacock|false|
|    Park|false|
| Johnson| true|
|Mitchell|false|
|    King|false|
|Callahan|false|
+--------+-----+

F.when

In [ ]:
# 27min
df_employee.select(
    F.col('LastName'),
    F.col('LastName').contains('son').alias('bool'),
    F.when(
        F.col('LastName').contains('son'), F.col('LastName')
    ).alias('when')
).show()

+--------+-----+-------+
|LastName| bool|   when|
+--------+-----+-------+
|   Adams|false|   null|
| Edwards|false|   null|
| Peacock|false|   null|
|    Park|false|   null|
| Johnson| true|Johnson|
|Mitchell|false|   null|
|    King|false|   null|
|Callahan|false|   null|
+--------+-----+-------+

F.when com multiplas condições lógicas

In [ ]:
# 29min
df_employee.select(
    F.col('LastName'),
    F.col('LastName').contains('son').alias('bool'),
    F.when(
        F.col('LastName').contains('son'), F.col('LastName')
    ).when(
        F.col('LastName').contains('ing'), F.lit('Reis')
    ).alias('when')
).show()

+--------+-----+-------+
|LastName| bool|   when|
+--------+-----+-------+
|   Adams|false|   null|
| Edwards|false|   null|
| Peacock|false|   null|
|    Park|false|   null|
| Johnson| true|Johnson|
|Mitchell|false|   null|
|    King|false|   Reis|
|Callahan|false|   null|
+--------+-----+-------+

construindo uma coluna com booleanos

In [ ]:
# 36min
df_employee.select(
    F.col('LastName'),
    F.col('LastName').contains('son').alias('bool'),
    F.when(
        F.col('LastName').contains('son'), F.col('LastName')
    ).when(
        F.col('LastName').contains('ing'), F.lit('Reis')
    ).otherwise(F.lit('Outros')).alias('when')
).show()

+--------+-----+-------+
|LastName| bool|   when|
+--------+-----+-------+
|   Adams|false| Outros|
| Edwards|false| Outros|
| Peacock|false| Outros|
|    Park|false| Outros|
| Johnson| true|Johnson|
|Mitchell|false| Outros|
|    King|false|   Reis|
|Callahan|false| Outros|
+--------+-----+-------+

atualizando o valor de uma coluna

In [ ]:
# 47min
df_customer.orderBy(F.col('Company').desc())\
    .withColumn('Company',
                F.when(
                    F.col('Company').isNull(), F.lit('Indefinido'))
                .otherwise(F.col('Company'))
    ).show()

+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|        10|  Eduardo|    Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP|        Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        14|     Mark|    Philips|               Telus|      8210 111 ST NW|           Edmonton|   AB|        Canada|   T6G 2C7| +1 (780) 434-4554| +1 (780) 434-5565|  mphilips12@shaw.ca|           5|
|        15| Jennifer|   Peterson|       Rogers Canada| 700 W Pender Street|          Vancouver|   BC|        Canada|   V6C 1G8| +1 (604) 688-2255| +1 (604) 688-8756| jenniferp@rogers.ca|           3|
|        12|  Roberto|    Almeida|              Riotur|    Praça Pio X, 119|     Rio de Janeiro|   RJ|        Brazil| 20040-020|+55 (21) 2271-7000|+55 (21) 2271-7070|roberto.almeida@r...|           3|
|        17|     Jack|      Smith|Microsoft Corpora...|     1 Microsoft Way|            Redmond|   WA|           USA|98052-8300| +1 (425) 882-8080| +1 (425) 882-8081|jacksmith@microso...|           5|
|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
|        16|    Frank|     Harris|         Google Inc.|1600 Amphitheatre...|      Mountain View|   CA|           USA|94043-1351| +1 (650) 253-0000| +1 (650) 253-0000|  fharris@google.com|           4|
|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|        11|Alexandre|      Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|          São Paulo|   SP|        Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
|        19|      Tim|      Goyer|          Apple Inc.|     1 Infinite Loop|          Cupertino|   CA|           USA|     95014| +1 (408) 996-1010| +1 (408) 996-1011|    tgoyer@apple.com|           3|
|         2|   Leonie|     Köhler|          Indefinido|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|         3| François|   Tremblay|          Indefinido|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|         4|    Bjørn|     Hansen|          Indefinido|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|         6|   Helena|       Holý|          Indefinido|       Rilská 3174/6|             Prague| null|Czech Republic|     14300|  +420 2 4177 0449|              null|     hholy@gmail.com|           5|
|         7|   Astrid|     Gruber|          Indefinido|Rotenturmstraße 4...|             Vienne| null|       Austria|      1010|    +43 01 5134505|              null|astrid.gruber@app...|           5|
|         8|     Daan|    Peeters|          Indefinido|     Grétrystraat 63|           Brussels| null|       Belgium|      1000|  +32 02 219 03 03|              null|daan_peeters@appl...|           4|
|         9|     Kara|    Nielsen|          Indefinido| Sønder Boulevard 51|         Copenhagen| null|       Denmark|      1720|    +453 3331 9991|              null|kara.nielsen@jubi...|           4|
|        13| Fernanda|      Ramos|          Indefinido|        Qe 7 Bloco G|           Brasília|   DF|        Brazil| 71020-677|+55 (61) 3363-5547|+55 (61) 3363-7855|fernadaramos4@uol...|           4|
|        18| Michelle|     Brooks|          Indefinido|        627 Broadway|           New York|   NY|           USA|10012-2612| +1 (212) 221-3546| +1 (212) 221-4679|   michelleb@aol.com|           3|
|        20|      Dan|     Miller|          Indefinido|541 Del Medio Avenue|      Mountain View|   CA|           USA| 94040-111| +1 (650) 644-3358|              null| dmiller@comcast.com|           4|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 20 rows

filter

In [ ]:
# 53min
df_customer.select(
    F.col('CustomerId'),
    F.col('Country'),
    F.col('Country').isin(['Brazil','USA']).alias('bool')
).show()

+----------+--------------+-----+
|CustomerId|       Country| bool|
+----------+--------------+-----+
|         1|        Brazil| true|
|         2|       Germany|false|
|         3|        Canada|false|
|         4|        Norway|false|
|         5|Czech Republic|false|
|         6|Czech Republic|false|
|         7|       Austria|false|
|         8|       Belgium|false|
|         9|       Denmark|false|
|        10|        Brazil| true|
|        11|        Brazil| true|
|        12|        Brazil| true|
|        13|        Brazil| true|
|        14|        Canada|false|
|        15|        Canada|false|
|        16|           USA| true|
|        17|           USA| true|
|        18|           USA| true|
|        19|           USA| true|
|        20|           USA| true|
+----------+--------------+-----+
only showing top 20 rows

In [ ]:
# 57min
df_customer.filter(F.col('Country') == 'Brazil').show()

+----------+---------+---------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName| LastName|             Company|             Address|               City|State|Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+---------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís|Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP| Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|        10|  Eduardo|  Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP| Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        11|Alexandre|    Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|          São Paulo|   SP| Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
|        12|  Roberto|  Almeida|              Riotur|    Praça Pio X, 119|     Rio de Janeiro|   RJ| Brazil| 20040-020|+55 (21) 2271-7000|+55 (21) 2271-7070|roberto.almeida@r...|           3|
|        13| Fernanda|    Ramos|                null|        Qe 7 Bloco G|           Brasília|   DF| Brazil| 71020-677|+55 (61) 3363-5547|+55 (61) 3363-7855|fernadaramos4@uol...|           4|
+----------+---------+---------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+

In [ ]:
# 57min
df_customer.filter(F.col('Country').isin(['Brazil','USA'])).show()

+----------+---------+----------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|  LastName|             Company|             Address|               City|State|Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+----------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís| Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP| Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|        10|  Eduardo|   Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP| Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        11|Alexandre|     Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|          São Paulo|   SP| Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
|        12|  Roberto|   Almeida|              Riotur|    Praça Pio X, 119|     Rio de Janeiro|   RJ| Brazil| 20040-020|+55 (21) 2271-7000|+55 (21) 2271-7070|roberto.almeida@r...|           3|
|        13| Fernanda|     Ramos|                null|        Qe 7 Bloco G|           Brasília|   DF| Brazil| 71020-677|+55 (61) 3363-5547|+55 (61) 3363-7855|fernadaramos4@uol...|           4|
|        16|    Frank|    Harris|         Google Inc.|1600 Amphitheatre...|      Mountain View|   CA|    USA|94043-1351| +1 (650) 253-0000| +1 (650) 253-0000|  fharris@google.com|           4|
|        17|     Jack|     Smith|Microsoft Corpora...|     1 Microsoft Way|            Redmond|   WA|    USA|98052-8300| +1 (425) 882-8080| +1 (425) 882-8081|jacksmith@microso...|           5|
|        18| Michelle|    Brooks|                null|        627 Broadway|           New York|   NY|    USA|10012-2612| +1 (212) 221-3546| +1 (212) 221-4679|   michelleb@aol.com|           3|
|        19|      Tim|     Goyer|          Apple Inc.|     1 Infinite Loop|          Cupertino|   CA|    USA|     95014| +1 (408) 996-1010| +1 (408) 996-1011|    tgoyer@apple.com|           3|
|        20|      Dan|    Miller|                null|541 Del Medio Avenue|      Mountain View|   CA|    USA| 94040-111| +1 (650) 644-3358|              null| dmiller@comcast.com|           4|
|        21|    Kathy|     Chase|                null|    801 W 4th Street|               Reno|   NV|    USA|     89503| +1 (775) 223-7665|              null| kachase@hotmail.com|           5|
|        22|  Heather|   Leacock|                null|    120 S Orange Ave|            Orlando|   FL|    USA|     32801| +1 (407) 999-7788|              null|  hleacock@gmail.com|           4|
|        23|     John|    Gordon|                null|     69 Salem Street|             Boston|   MA|    USA|      2113| +1 (617) 522-1333|              null|johngordon22@yaho...|           4|
|        24|    Frank|   Ralston|                null|162 E Superior St...|            Chicago|   IL|    USA|     60611| +1 (312) 332-3232|              null|  fralston@gmail.com|           3|
|        25|   Victor|   Stevens|                null|319 N. Frances St...|            Madison|   WI|    USA|     53703| +1 (608) 257-0597|              null|  vstevens@yahoo.com|           5|
|        26|  Richard|Cunningham|                null| 2211 W Berry Street|         Fort Worth|   TX|    USA|     76110| +1 (817) 924-7272|              null|ricunningham@hotm...|           4|
|        27|  Patrick|      Gray|                null|     1033 N Park Ave|             Tucson|   AZ|    USA|     85719| +1 (520) 622-4200|              null|patrick.gray@aol.com|           4|
|        28|    Julia|   Barnett|                null|         302 S 700 E|     Salt Lake City|   UT|    USA|     84102| +1 (801) 531-7272|              null| jubarnett@gmail.com|           5|
+----------+---------+----------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+

negando uma expressão booleana

In [ ]:
# 1:00min
df_customer.select(
    F.col('CustomerId'),
    F.col('Country'),
    (~F.col('Country').isin(['Brazil','USA'])).alias('bool')
).orderBy('Country').show()

+----------+--------------+-----+
|CustomerId|       Country| bool|
+----------+--------------+-----+
|        56|     Argentina| true|
|        55|     Australia| true|
|         7|       Austria| true|
|         8|       Belgium| true|
|         1|        Brazil|false|
|        10|        Brazil|false|
|        11|        Brazil|false|
|        12|        Brazil|false|
|        13|        Brazil|false|
|        32|        Canada| true|
|        33|        Canada| true|
|        29|        Canada| true|
|        14|        Canada| true|
|        15|        Canada| true|
|        30|        Canada| true|
|        31|        Canada| true|
|         3|        Canada| true|
|        57|         Chile| true|
|         5|Czech Republic| true|
|         6|Czech Republic| true|
+----------+--------------+-----+
only showing top 20 rows

**filter com operador logico AND**

aninhando o metodo filter

In [ ]:
# 1:02min
df_customer.filter(F.col('Country') == 'Brazil')\
           .filter(F.col('City') == 'São Paulo').show()

+----------+---------+--------+--------------------+--------------------+---------+-----+-------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|LastName|             Company|             Address|     City|State|Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+--------+--------------------+--------------------+---------+-----+-------+----------+------------------+------------------+--------------------+------------+
|        10|  Eduardo| Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|São Paulo|   SP| Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        11|Alexandre|   Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|São Paulo|   SP| Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
+----------+---------+--------+--------------------+--------------------+---------+-----+-------+----------+------------------+------------------+--------------------+------------+

utilizando o operador logico '&'

In [ ]:
# 1:05min
df_customer.filter(
    (F.col('Country') == 'Brazil') & (F.col('City') == 'São Paulo')
).show()

+----------+---------+--------+--------------------+--------------------+---------+-----+-------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|LastName|             Company|             Address|     City|State|Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+--------+--------------------+--------------------+---------+-----+-------+----------+------------------+------------------+--------------------+------------+
|        10|  Eduardo| Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|São Paulo|   SP| Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        11|Alexandre|   Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|São Paulo|   SP| Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
+----------+---------+--------+--------------------+--------------------+---------+-----+-------+----------+------------------+------------------+--------------------+------------+


filter com operador logico OR

In [ ]:
# 1:08min
df_customer.filter(
    (F.col('Country') == 'USA') | (F.col('City') == 'São Paulo')
).show()

+----------+---------+----------+--------------------+--------------------+--------------+-----+-------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|  LastName|             Company|             Address|          City|State|Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+----------+--------------------+--------------------+--------------+-----+-------+----------+------------------+------------------+--------------------+------------+
|        10|  Eduardo|   Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|     São Paulo|   SP| Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        11|Alexandre|     Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|     São Paulo|   SP| Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
|        16|    Frank|    Harris|         Google Inc.|1600 Amphitheatre...| Mountain View|   CA|    USA|94043-1351| +1 (650) 253-0000| +1 (650) 253-0000|  fharris@google.com|           4|
|        17|     Jack|     Smith|Microsoft Corpora...|     1 Microsoft Way|       Redmond|   WA|    USA|98052-8300| +1 (425) 882-8080| +1 (425) 882-8081|jacksmith@microso...|           5|
|        18| Michelle|    Brooks|                null|        627 Broadway|      New York|   NY|    USA|10012-2612| +1 (212) 221-3546| +1 (212) 221-4679|   michelleb@aol.com|           3|
|        19|      Tim|     Goyer|          Apple Inc.|     1 Infinite Loop|     Cupertino|   CA|    USA|     95014| +1 (408) 996-1010| +1 (408) 996-1011|    tgoyer@apple.com|           3|
|        20|      Dan|    Miller|                null|541 Del Medio Avenue| Mountain View|   CA|    USA| 94040-111| +1 (650) 644-3358|              null| dmiller@comcast.com|           4|
|        21|    Kathy|     Chase|                null|    801 W 4th Street|          Reno|   NV|    USA|     89503| +1 (775) 223-7665|              null| kachase@hotmail.com|           5|
|        22|  Heather|   Leacock|                null|    120 S Orange Ave|       Orlando|   FL|    USA|     32801| +1 (407) 999-7788|              null|  hleacock@gmail.com|           4|
|        23|     John|    Gordon|                null|     69 Salem Street|        Boston|   MA|    USA|      2113| +1 (617) 522-1333|              null|johngordon22@yaho...|           4|
|        24|    Frank|   Ralston|                null|162 E Superior St...|       Chicago|   IL|    USA|     60611| +1 (312) 332-3232|              null|  fralston@gmail.com|           3|
|        25|   Victor|   Stevens|                null|319 N. Frances St...|       Madison|   WI|    USA|     53703| +1 (608) 257-0597|              null|  vstevens@yahoo.com|           5|
|        26|  Richard|Cunningham|                null| 2211 W Berry Street|    Fort Worth|   TX|    USA|     76110| +1 (817) 924-7272|              null|ricunningham@hotm...|           4|
|        27|  Patrick|      Gray|                null|     1033 N Park Ave|        Tucson|   AZ|    USA|     85719| +1 (520) 622-4200|              null|patrick.gray@aol.com|           4|
|        28|    Julia|   Barnett|                null|         302 S 700 E|Salt Lake City|   UT|    USA|     84102| +1 (801) 531-7272|              null| jubarnett@gmail.com|           5|
+----------+---------+----------+--------------------+--------------------+--------------+-----+-------+----------+------------------+------------------+--------------------+------------+

usando uma expressão booleana na key do group by

In [ ]:
# 4min

df_Track = spark.read.jdbc(
    properties={'driver':'org.sqlite.JDBC'},
    url='jdbc:sqlite:/content/sample_data/Chinook.db',
    table='Track')

df_Track.show()

+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
|TrackId|                Name|AlbumId|MediaTypeId|GenreId|            Composer|Milliseconds|   Bytes|UnitPrice|
+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
|      1|For Those About T...|      1|          1|      1|Angus Young, Malc...|      343719|11170334|     0.99|
|      2|   Balls to the Wall|      2|          2|      1|                null|      342562| 5510424|     0.99|
|      3|     Fast As a Shark|      3|          2|      1|F. Baltes, S. Kau...|      230619| 3990994|     0.99|
|      4|   Restless and Wild|      3|          2|      1|F. Baltes, R.A. S...|      252051| 4331779|     0.99|
|      5|Princess of the Dawn|      3|          2|      1|Deaffy & R.A. Smi...|      375418| 6290521|     0.99|
|      6|Put The Finger On...|      1|          1|      1|Angus Young, Malc...|      205662| 6713451|     0.99|
|      7|     Let's Get It Up|      1|          1|      1|Angus Young, Malc...|      233926| 7636561|     0.99|
|      8|    Inject The Venom|      1|          1|      1|Angus Young, Malc...|      210834| 6852860|     0.99|
|      9|          Snowballed|      1|          1|      1|Angus Young, Malc...|      203102| 6599424|     0.99|
|     10|          Evil Walks|      1|          1|      1|Angus Young, Malc...|      263497| 8611245|     0.99|
|     11|              C.O.D.|      1|          1|      1|Angus Young, Malc...|      199836| 6566314|     0.99|
|     12|  Breaking The Rules|      1|          1|      1|Angus Young, Malc...|      263288| 8596840|     0.99|
|     13|Night Of The Long...|      1|          1|      1|Angus Young, Malc...|      205688| 6706347|     0.99|
|     14|          Spellbound|      1|          1|      1|Angus Young, Malc...|      270863| 8817038|     0.99|
|     15|             Go Down|      4|          1|      1|               AC/DC|      331180|10847611|     0.99|
|     16|         Dog Eat Dog|      4|          1|      1|               AC/DC|      215196| 7032162|     0.99|
|     17|   Let There Be Rock|      4|          1|      1|               AC/DC|      366654|12021261|     0.99|
|     18|      Bad Boy Boogie|      4|          1|      1|               AC/DC|      267728| 8776140|     0.99|
|     19|       Problem Child|      4|          1|      1|               AC/DC|      325041|10617116|     0.99|
|     20|            Overdose|      4|          1|      1|               AC/DC|      369319|12066294|     0.99|
+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
only showing top 20 rows

In [ ]:
# 1:11min
df_Track.groupBy(
    F.substring('Milliseconds',7,3) == '7'
).count().show()

+-----------------------------------+-----+
|(substring(Milliseconds, 7, 3) = 7)|count|
+-----------------------------------+-----+
|                               true|   23|
|                              false| 3480|
+-----------------------------------+-----+

In [ ]:
# 1:18min
df_Track.groupBy(
    F.substring('Milliseconds',7,3).isin(['7','3'])
).count().show()

+-----------------------------------------+-----+
|(substring(Milliseconds, 7, 3) IN (7, 3))|count|
+-----------------------------------------+-----+
|                                     true|   46|
|                                    false| 3457|
+-----------------------------------------+-----+

In [ ]:
# 1:18min
df_Track.groupBy(
    F.when(
        F.substring('Milliseconds',7,3).isin(['7','3']), F.lit('é 7 e 3'))
    .otherwise(F.lit('Outros')).alias('tipos')
).count().show()

+-------+-----+
|  tipos|count|
+-------+-----+
| Outros| 3457|
|é 7 e 3|   46|
+-------+-----+

usando uma expressão booleana commF.when no metodo .agg

In [ ]:
# 1:27min
df_Track\
   .groupBy(F.col('Composer'))\
   .sum('UnitPrice')\
   .show()

+--------------------+--------------+
|            Composer|sum(UnitPrice)|
+--------------------+--------------+
|Charles Bobbitt/J...|          1.98|
|         J. Satriani|          3.96|
|Marisa Monte/poem...|          0.99|
|Bert Russell/Phil...|          0.99|
|Domenil/J. Brito/...|          0.99|
|Richie Blackmore,...|          4.95|
|     Julian Crampton|          0.99|
|        Steve Harris|         79.20|
|Audioslave/Chris ...|         13.86|
|jon lord/roger gl...|          1.98|
|Doyle Bramhall/St...|          3.96|
|      Hector Berlioz|          0.99|
|Bill Gould/Jon Hu...|          1.98|
|L. Kerslake, O. O...|          0.99|
|      Carlos Santana|          2.97|
|Peter Ilyich Tcha...|          0.99|
|           Jim Beard|          1.98|
|Dominguinhos/Gilb...|          0.99|
|              Hyldon|          0.99|
|Leão, Rodrigo F./...|          0.99|
+--------------------+--------------+
only showing top 20 rows

In [ ]:
# 1:46min
df_Track\
   .groupBy(F.col('GenreId'))\
   .agg(
       F.sum(
           F.when(
               F.col('AlbumId') == 1, F.col('UnitPrice')
              ).otherwise(F.lit(0))
            ).alias('Rock'),
       F.sum(
           F.when(
               F.col('AlbumId') == 2, F.col('UnitPrice')
              ).otherwise(F.lit(0))
            ).alias('Jazz'),
       F.sum(F.col('UnitPrice'))
       )\
    .orderBy('GenreId')
    .show()

+-------+----+----+--------------+
|GenreId|Rock|Jazz|sum(UnitPrice)|
+-------+----+----+--------------+
|      1|9.90|0.99|       1284.03|
|      2|0.00|0.00|        128.70|
|      3|0.00|0.00|        370.26|
|      4|0.00|0.00|        328.68|
|      5|0.00|0.00|         11.88|
|      6|0.00|0.00|         80.19|
|      7|0.00|0.00|        573.21|
|      8|0.00|0.00|         57.42|
|      9|0.00|0.00|         47.52|
|     10|0.00|0.00|         42.57|
|     11|0.00|0.00|         14.85|
|     12|0.00|0.00|         23.76|
|     13|0.00|0.00|         27.72|
|     14|0.00|0.00|         60.39|
|     15|0.00|0.00|         29.70|
|     16|0.00|0.00|         27.72|
|     17|0.00|0.00|         34.65|
|     18|0.00|0.00|         25.87|
|     19|0.00|0.00|        185.07|
|     20|0.00|0.00|         51.74|
+-------+----+----+--------------+
only showing top 20 rows

pivoteando uma tabela

In [ ]:
df_Track.show()

+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
|TrackId|                Name|AlbumId|MediaTypeId|GenreId|            Composer|Milliseconds|   Bytes|UnitPrice|
+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
|      1|For Those About T...|      1|          1|      1|Angus Young, Malc...|      343719|11170334|     0.99|
|      2|   Balls to the Wall|      2|          2|      1|                null|      342562| 5510424|     0.99|
|      3|     Fast As a Shark|      3|          2|      1|F. Baltes, S. Kau...|      230619| 3990994|     0.99|
|      4|   Restless and Wild|      3|          2|      1|F. Baltes, R.A. S...|      252051| 4331779|     0.99|
|      5|Princess of the Dawn|      3|          2|      1|Deaffy & R.A. Smi...|      375418| 6290521|     0.99|
|      6|Put The Finger On...|      1|          1|      1|Angus Young, Malc...|      205662| 6713451|     0.99|
|      7|     Let's Get It Up|      1|          1|      1|Angus Young, Malc...|      233926| 7636561|     0.99|
|      8|    Inject The Venom|      1|          1|      1|Angus Young, Malc...|      210834| 6852860|     0.99|
|      9|          Snowballed|      1|          1|      1|Angus Young, Malc...|      203102| 6599424|     0.99|
|     10|          Evil Walks|      1|          1|      1|Angus Young, Malc...|      263497| 8611245|     0.99|
|     11|              C.O.D.|      1|          1|      1|Angus Young, Malc...|      199836| 6566314|     0.99|
|     12|  Breaking The Rules|      1|          1|      1|Angus Young, Malc...|      263288| 8596840|     0.99|
|     13|Night Of The Long...|      1|          1|      1|Angus Young, Malc...|      205688| 6706347|     0.99|
|     14|          Spellbound|      1|          1|      1|Angus Young, Malc...|      270863| 8817038|     0.99|
|     15|             Go Down|      4|          1|      1|               AC/DC|      331180|10847611|     0.99|
|     16|         Dog Eat Dog|      4|          1|      1|               AC/DC|      215196| 7032162|     0.99|
|     17|   Let There Be Rock|      4|          1|      1|               AC/DC|      366654|12021261|     0.99|
|     18|      Bad Boy Boogie|      4|          1|      1|               AC/DC|      267728| 8776140|     0.99|
|     19|       Problem Child|      4|          1|      1|               AC/DC|      325041|10617116|     0.99|
|     20|            Overdose|      4|          1|      1|               AC/DC|      369319|12066294|     0.99|
+-------+--------------------+-------+-----------+-------+--------------------+------------+--------+---------+
only showing top 20 rows

In [ ]:
# pivot
df_Track.groupBy(F.col('Composer')).pivot('GenreId').sum('UnitPrice').show()

+--------------------+-----+----+-----+----+----+----+----+----+----+----+----+----+-----+----+----+----+----+----+----+----+----+----+----+----+----+
|            Composer|    1|   2|    3|   4|   5|   6|   7|   8|   9|  10|  11|  12|   13|  14|  15|  16|  17|  18|  19|  20|  21|  22|  23|  24|  25|
+--------------------+-----+----+-----+----+----+----+----+----+----+----+----+----+-----+----+----+----+----+----+----+----+----+----+----+----+----+
|Marisa Monte/poem...| null|null| null|null|null|null|0.99|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Charles Bobbitt/J...| null|null| null|null|null|null|null|null|null|null|null|null| null|1.98|null|null|null|null|null|null|null|null|null|null|null|
|         J. Satriani| 3.96|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|        Steve Harris|25.74|null|35.64|null|null|4.95|null|null|null|null|null|null|12.87|null|null|null|null|null|null|null|null|null|null|null|null|
|Domenil/J. Brito/...| null|null| null|null|null|null|0.99|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Bert Russell/Phil...| null|null| null|null|0.99|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|     Julian Crampton| null|0.99| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Richie Blackmore,...| 4.95|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|jon lord/roger gl...| 1.98|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Doyle Bramhall/St...| null|null| null|null|null|3.96|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Audioslave/Chris ...|13.86|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|      Hector Berlioz| null|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|0.99|null|
|Peter Ilyich Tcha...| null|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|0.99|null|
|      Carlos Santana| 2.97|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Bill Gould/Jon Hu...| null|null| null|1.98|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|L. Kerslake, O. O...| 0.99|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|           Jim Beard| null|1.98| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Leão, Rodrigo F./...| 0.99|null| null|null|null|null|null|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Almir Guineto/Ded...| null|null| null|null|null|null|0.99|null|null|null|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
|Dominguinhos/Gilb...| null|null| null|null|null|null|null|null|null|0.99|null|null| null|null|null|null|null|null|null|null|null|null|null|null|null|
+--------------------+-----+----+-----+----+----+----+----+----+----+----+----+----+-----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

# **7.1 Window Function**

In [ ]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.4.3-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"
import findspark
findspark.init('spark-3.4.3-bin-hadoop3')

SparkSession

In [ ]:
# SparkSession
from pyspark.sql import SparkSession
# Funções de colunas
from pyspark.sql import functions as F

from pyspark.sql.window import Window as W

# Subir o arquivos jdbc na pasta jars do spark e subir o arquivo vendas.db.
spark = SparkSession.builder\
  .appName('aula6')\
  .master('local')\
  .getOrCreate();

Leitura do dataframe

In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/populacao-por-municipio-2019.csv')
type(df)

pandas.core.frame.DataFrame

In [ ]:
df

,state,state_ibge_code,city_ibge_code,city,estimated_population
0,AC,12,1200013,Acrelândia,15256
1,AC,12,1200054,Assis Brasil,7417
2,AC,12,1200104,Brasiléia,26278
3,AC,12,1200138,Bujari,10266
4,AC,12,1200179,Capixaba,11733
...,...,...,...,...,...
5565,TO,17,1721208,Tocantinópolis,22870
5566,TO,17,1721257,Tupirama,1891
5567,TO,17,1721307,Tupiratins,2671
5568,TO,17,1722081,Wanderlândia,11683
5569,TO,17,1722107,Xambioá,11540

In [ ]:
df = spark.createDataFrame(df)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.show()

+-----+---------------+--------------+--------------------+--------------------+
|state|state_ibge_code|city_ibge_code|                city|estimated_population|
+-----+---------------+--------------+--------------------+--------------------+
|   AC|             12|       1200013|          Acrelândia|               15256|
|   AC|             12|       1200054|        Assis Brasil|                7417|
|   AC|             12|       1200104|           Brasiléia|               26278|
|   AC|             12|       1200138|              Bujari|               10266|
|   AC|             12|       1200179|            Capixaba|               11733|
|   AC|             12|       1200203|     Cruzeiro do Sul|               88376|
|   AC|             12|       1200252|      Epitaciolândia|               18411|
|   AC|             12|       1200302|               Feijó|               34780|
|   AC|             12|       1200328|              Jordão|                8317|
|   AC|             12|       1200336|         Mâncio Lima|               18977|
|   AC|             12|       1200344|       Manoel Urbano|                9459|
|   AC|             12|       1200351|Marechal Thaumaturgo|               18867|
|   AC|             12|       1200385|   Plácido de Castro|               19761|
|   AC|             12|       1200807|          Porto Acre|               18504|
|   AC|             12|       1200393|        Porto Walter|               11982|
|   AC|             12|       1200401|          Rio Branco|              407319|
|   AC|             12|       1200427|     Rodrigues Alves|               18930|
|   AC|             12|       1200435| Santa Rosa do Purus|                6540|
|   AC|             12|       1200500|      Sena Madureira|               45848|
|   AC|             12|       1200450|    Senador Guiomard|               23024|
+-----+---------------+--------------+--------------------+--------------------+
only showing top 20 rows

row_number

In [ ]:
w_row = W.partitionBy(F.col('state')).orderBy(F.col('estimated_population').desc())

df = df.withColumn('row_number',
              F.row_number().over(w_row)
              )

rank()

In [ ]:
# 20min
df = df.withColumn('rank',
              F.rank().over(w_row)
              )

dense rank

In [ ]:
# 28min
df = df.withColumn('dense_rank',
              F.dense_rank().over(w_row)
              )

F.Lag

In [ ]:
df.show()

+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+
|state|state_ibge_code|city_ibge_code|                city|estimated_population|row_number|rank|dense_rank|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+
|   AC|             12|       1200401|          Rio Branco|              407319|         1|   1|         1|
|   AC|             12|       1200203|     Cruzeiro do Sul|               88376|         2|   2|         2|
|   AC|             12|       1200500|      Sena Madureira|               45848|         3|   3|         3|
|   AC|             12|       1200609|            Tarauacá|               42567|         4|   4|         4|
|   AC|             12|       1200302|               Feijó|               34780|         5|   5|         5|
|   AC|             12|       1200104|           Brasiléia|               26278|         6|   6|         6|
|   AC|             12|       1200450|    Senador Guiomard|               23024|         7|   7|         7|
|   AC|             12|       1200385|   Plácido de Castro|               19761|         8|   8|         8|
|   AC|             12|       1200708|              Xapuri|               19323|         9|   9|         9|
|   AC|             12|       1200336|         Mâncio Lima|               18977|        10|  10|        10|
|   AC|             12|       1200427|     Rodrigues Alves|               18930|        11|  11|        11|
|   AC|             12|       1200351|Marechal Thaumaturgo|               18867|        12|  12|        12|
|   AC|             12|       1200807|          Porto Acre|               18504|        13|  13|        13|
|   AC|             12|       1200252|      Epitaciolândia|               18411|        14|  14|        14|
|   AC|             12|       1200013|          Acrelândia|               15256|        15|  15|        15|
|   AC|             12|       1200393|        Porto Walter|               11982|        16|  16|        16|
|   AC|             12|       1200179|            Capixaba|               11733|        17|  17|        17|
|   AC|             12|       1200138|              Bujari|               10266|        18|  18|        18|
|   AC|             12|       1200344|       Manoel Urbano|                9459|        19|  19|        19|
|   AC|             12|       1200328|              Jordão|                8317|        20|  20|        20|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+
only showing top 20 rows

In [ ]:
# 33min
df.withColumn('lag',
              F.lag('estimated_population',1).over(w_row)
              ).show(30)

+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+-------+
|state|state_ibge_code|city_ibge_code|                city|estimated_population|row_number|rank|dense_rank|    lag|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+-------+
|   AC|             12|       1200401|          Rio Branco|              407319|         1|   1|         1|   null|
|   AC|             12|       1200203|     Cruzeiro do Sul|               88376|         2|   2|         2| 407319|
|   AC|             12|       1200500|      Sena Madureira|               45848|         3|   3|         3|  88376|
|   AC|             12|       1200609|            Tarauacá|               42567|         4|   4|         4|  45848|
|   AC|             12|       1200302|               Feijó|               34780|         5|   5|         5|  42567|
|   AC|             12|       1200104|           Brasiléia|               26278|         6|   6|         6|  34780|
|   AC|             12|       1200450|    Senador Guiomard|               23024|         7|   7|         7|  26278|
|   AC|             12|       1200385|   Plácido de Castro|               19761|         8|   8|         8|  23024|
|   AC|             12|       1200708|              Xapuri|               19323|         9|   9|         9|  19761|
|   AC|             12|       1200336|         Mâncio Lima|               18977|        10|  10|        10|  19323|
|   AC|             12|       1200427|     Rodrigues Alves|               18930|        11|  11|        11|  18977|
|   AC|             12|       1200351|Marechal Thaumaturgo|               18867|        12|  12|        12|  18930|
|   AC|             12|       1200807|          Porto Acre|               18504|        13|  13|        13|  18867|
|   AC|             12|       1200252|      Epitaciolândia|               18411|        14|  14|        14|  18504|
|   AC|             12|       1200013|          Acrelândia|               15256|        15|  15|        15|  18411|
|   AC|             12|       1200393|        Porto Walter|               11982|        16|  16|        16|  15256|
|   AC|             12|       1200179|            Capixaba|               11733|        17|  17|        17|  11982|
|   AC|             12|       1200138|              Bujari|               10266|        18|  18|        18|  11733|
|   AC|             12|       1200344|       Manoel Urbano|                9459|        19|  19|        19|  10266|
|   AC|             12|       1200328|              Jordão|                8317|        20|  20|        20|   9459|
|   AC|             12|       1200054|        Assis Brasil|                7417|        21|  21|        21|   8317|
|   AC|             12|       1200435| Santa Rosa do Purus|                6540|        22|  22|        22|   7417|
|   AL|             27|       2704302|              Maceió|             1018948|         1|   1|         1|   null|
|   AL|             27|       2700300|           Arapiraca|              231747|         2|   2|         2|1018948|
|   AL|             27|       2707701|           Rio Largo|               75120|         3|   3|         3| 231747|
|   AL|             27|       2706307| Palmeira dos Índios|               73218|         4|   4|         4|  75120|
|   AL|             27|       2709301|  União dos Palmares|               65611|         5|   5|         5|  73218|
|   AL|             27|       2706703|              Penedo|               63683|         6|   6|         6|  65611|
|   AL|             27|       2708600|São Miguel dos Ca...|               61251|         7|   7|         7|  63683|
|   AL|             27|       2701407|        Campo Alegre|               57063|         8|   8|         8|  61251|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+-------+
only showing top 30 rows

F.Lead

In [ ]:
# 36min
df.withColumn('lead',
              F.lead('estimated_population', 1).over(w_row)
).show(30)

+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+------+
|state|state_ibge_code|city_ibge_code|                city|estimated_population|row_number|rank|dense_rank|  lead|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+------+
|   AC|             12|       1200401|          Rio Branco|              407319|         1|   1|         1| 88376|
|   AC|             12|       1200203|     Cruzeiro do Sul|               88376|         2|   2|         2| 45848|
|   AC|             12|       1200500|      Sena Madureira|               45848|         3|   3|         3| 42567|
|   AC|             12|       1200609|            Tarauacá|               42567|         4|   4|         4| 34780|
|   AC|             12|       1200302|               Feijó|               34780|         5|   5|         5| 26278|
|   AC|             12|       1200104|           Brasiléia|               26278|         6|   6|         6| 23024|
|   AC|             12|       1200450|    Senador Guiomard|               23024|         7|   7|         7| 19761|
|   AC|             12|       1200385|   Plácido de Castro|               19761|         8|   8|         8| 19323|
|   AC|             12|       1200708|              Xapuri|               19323|         9|   9|         9| 18977|
|   AC|             12|       1200336|         Mâncio Lima|               18977|        10|  10|        10| 18930|
|   AC|             12|       1200427|     Rodrigues Alves|               18930|        11|  11|        11| 18867|
|   AC|             12|       1200351|Marechal Thaumaturgo|               18867|        12|  12|        12| 18504|
|   AC|             12|       1200807|          Porto Acre|               18504|        13|  13|        13| 18411|
|   AC|             12|       1200252|      Epitaciolândia|               18411|        14|  14|        14| 15256|
|   AC|             12|       1200013|          Acrelândia|               15256|        15|  15|        15| 11982|
|   AC|             12|       1200393|        Porto Walter|               11982|        16|  16|        16| 11733|
|   AC|             12|       1200179|            Capixaba|               11733|        17|  17|        17| 10266|
|   AC|             12|       1200138|              Bujari|               10266|        18|  18|        18|  9459|
|   AC|             12|       1200344|       Manoel Urbano|                9459|        19|  19|        19|  8317|
|   AC|             12|       1200328|              Jordão|                8317|        20|  20|        20|  7417|
|   AC|             12|       1200054|        Assis Brasil|                7417|        21|  21|        21|  6540|
|   AC|             12|       1200435| Santa Rosa do Purus|                6540|        22|  22|        22|  null|
|   AL|             27|       2704302|              Maceió|             1018948|         1|   1|         1|231747|
|   AL|             27|       2700300|           Arapiraca|              231747|         2|   2|         2| 75120|
|   AL|             27|       2707701|           Rio Largo|               75120|         3|   3|         3| 73218|
|   AL|             27|       2706307| Palmeira dos Índios|               73218|         4|   4|         4| 65611|
|   AL|             27|       2709301|  União dos Palmares|               65611|         5|   5|         5| 63683|
|   AL|             27|       2706703|              Penedo|               63683|         6|   6|         6| 61251|
|   AL|             27|       2708600|São Miguel dos Ca...|               61251|         7|   7|         7| 57063|
|   AL|             27|       2701407|        Campo Alegre|               57063|         8|   8|         8| 56933|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+------+
only showing top 30 rows

Soma, Media, Minimo e maximo

In [ ]:
# 44min
w_row = W.partitionBy(F.col('state')).orderBy(F.col('estimated_population'))

df.withColumn('soma_acumulada',
              F.sum('estimated_population').over(w_row))\
  .withColumn('media_acumulada',
        F.avg('estimated_population').over(w_row))\
  .withColumn('min_acumulada',
        F.min('estimated_population').over(w_row))\
  .withColumn('max_acumulada',
        F.max('estimated_population').over(w_row))\
  .show(30)

+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+--------------+------------------+-------------+-------------+
|state|state_ibge_code|city_ibge_code|                city|estimated_population|row_number|rank|dense_rank|soma_acumulada|   media_acumulada|min_acumulada|max_acumulada|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+--------------+------------------+-------------+-------------+
|   AC|             12|       1200435| Santa Rosa do Purus|                6540|        22|  22|        22|          6540|            6540.0|         6540|         6540|
|   AC|             12|       1200054|        Assis Brasil|                7417|        21|  21|        21|         13957|            6978.5|         6540|         7417|
|   AC|             12|       1200328|              Jordão|                8317|        20|  20|        20|         22274| 7424.666666666667|         6540|         8317|
|   AC|             12|       1200344|       Manoel Urbano|                9459|        19|  19|        19|         31733|           7933.25|         6540|         9459|
|   AC|             12|       1200138|              Bujari|               10266|        18|  18|        18|         41999|            8399.8|         6540|        10266|
|   AC|             12|       1200179|            Capixaba|               11733|        17|  17|        17|         53732| 8955.333333333334|         6540|        11733|
|   AC|             12|       1200393|        Porto Walter|               11982|        16|  16|        16|         65714| 9387.714285714286|         6540|        11982|
|   AC|             12|       1200013|          Acrelândia|               15256|        15|  15|        15|         80970|          10121.25|         6540|        15256|
|   AC|             12|       1200252|      Epitaciolândia|               18411|        14|  14|        14|         99381|11042.333333333334|         6540|        18411|
|   AC|             12|       1200807|          Porto Acre|               18504|        13|  13|        13|        117885|           11788.5|         6540|        18504|
|   AC|             12|       1200351|Marechal Thaumaturgo|               18867|        12|  12|        12|        136752|           12432.0|         6540|        18867|
|   AC|             12|       1200427|     Rodrigues Alves|               18930|        11|  11|        11|        155682|           12973.5|         6540|        18930|
|   AC|             12|       1200336|         Mâncio Lima|               18977|        10|  10|        10|        174659|13435.307692307691|         6540|        18977|
|   AC|             12|       1200708|              Xapuri|               19323|         9|   9|         9|        193982|13855.857142857143|         6540|        19323|
|   AC|             12|       1200385|   Plácido de Castro|               19761|         8|   8|         8|        213743|14249.533333333333|         6540|        19761|
|   AC|             12|       1200450|    Senador Guiomard|               23024|         7|   7|         7|        236767|        14797.9375|         6540|        23024|
|   AC|             12|       1200104|           Brasiléia|               26278|         6|   6|         6|        263045|15473.235294117647|         6540|        26278|
|   AC|             12|       1200302|               Feijó|               34780|         5|   5|         5|        297825|16545.833333333332|         6540|        34780|
|   AC|             12|       1200609|            Tarauacá|               42567|         4|   4|         4|        340392| 17915.36842105263|         6540|        42567|
|   AC|             12|       1200500|      Sena Madureira|               45848|         3|   3|         3|        386240|           19312.0|         6540|        45848|
|   AC|             12|       1200203|     Cruzeiro do Sul|               88376|         2|   2|         2|        474616|22600.761904761905|         6540|        88376|
|   AC|             12|       1200401|          Rio Branco|              407319|         1|   1|         1|        881935|40087.954545454544|         6540|       407319|
|   AL|             27|       2707008|             Pindoba|                2908|       102| 102|       102|          2908|            2908.0|         2908|         2908|
|   AL|             27|       2704906|        Mar Vermelho|                3514|       101| 101|       101|          6422|            3211.0|         2908|         3514|
|   AL|             27|       2703908|              Jundiá|                4155|       100| 100|       100|         10577|3525.6666666666665|         2908|         4155|
|   AL|             27|       2700805|               Belém|                4344|        99|  99|        99|         14921|           3730.25|         2908|         4344|
|   AL|             27|       2702702|       Feliz Deserto|                4754|        98|  98|        98|         19675|            3935.0|         2908|         4754|
|   AL|             27|       2706208|           Palestina|                5011|        97|  97|        97|         24686| 4114.333333333333|         2908|         5011|
|   AL|             27|       2705903|  Olho d'Água Grande|                5123|        96|  96|        96|         29809| 4258.428571428572|         2908|         5123|
|   AL|             27|       2703403|   Jacaré dos Homens|                5253|        95|  95|        95|         35062|           4382.75|         2908|         5253|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+--------------+------------------+-------------+-------------+
only showing top 30 rows

rowsBetween()

In [ ]:
w_calc = W.partitionBy(F.col('state')).orderBy(F.col('estimated_population')).rowsBetween(W.currentRow,2)

df.withColumn('sum_rows',
              F.sum('estimated_population').over(w_calc)
              ).show(30)

+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+--------+
|state|state_ibge_code|city_ibge_code|                city|estimated_population|row_number|rank|dense_rank|sum_rows|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+--------+
|   AC|             12|       1200435| Santa Rosa do Purus|                6540|        22|  22|        22|   22274|
|   AC|             12|       1200054|        Assis Brasil|                7417|        21|  21|        21|   25193|
|   AC|             12|       1200328|              Jordão|                8317|        20|  20|        20|   28042|
|   AC|             12|       1200344|       Manoel Urbano|                9459|        19|  19|        19|   31458|
|   AC|             12|       1200138|              Bujari|               10266|        18|  18|        18|   33981|
|   AC|             12|       1200179|            Capixaba|               11733|        17|  17|        17|   38971|
|   AC|             12|       1200393|        Porto Walter|               11982|        16|  16|        16|   45649|
|   AC|             12|       1200013|          Acrelândia|               15256|        15|  15|        15|   52171|
|   AC|             12|       1200252|      Epitaciolândia|               18411|        14|  14|        14|   55782|
|   AC|             12|       1200807|          Porto Acre|               18504|        13|  13|        13|   56301|
|   AC|             12|       1200351|Marechal Thaumaturgo|               18867|        12|  12|        12|   56774|
|   AC|             12|       1200427|     Rodrigues Alves|               18930|        11|  11|        11|   57230|
|   AC|             12|       1200336|         Mâncio Lima|               18977|        10|  10|        10|   58061|
|   AC|             12|       1200708|              Xapuri|               19323|         9|   9|         9|   62108|
|   AC|             12|       1200385|   Plácido de Castro|               19761|         8|   8|         8|   69063|
|   AC|             12|       1200450|    Senador Guiomard|               23024|         7|   7|         7|   84082|
|   AC|             12|       1200104|           Brasiléia|               26278|         6|   6|         6|  103625|
|   AC|             12|       1200302|               Feijó|               34780|         5|   5|         5|  123195|
|   AC|             12|       1200609|            Tarauacá|               42567|         4|   4|         4|  176791|
|   AC|             12|       1200500|      Sena Madureira|               45848|         3|   3|         3|  541543|
|   AC|             12|       1200203|     Cruzeiro do Sul|               88376|         2|   2|         2|  495695|
|   AC|             12|       1200401|          Rio Branco|              407319|         1|   1|         1|  407319|
|   AL|             27|       2707008|             Pindoba|                2908|       102| 102|       102|   10577|
|   AL|             27|       2704906|        Mar Vermelho|                3514|       101| 101|       101|   12013|
|   AL|             27|       2703908|              Jundiá|                4155|       100| 100|       100|   13253|
|   AL|             27|       2700805|               Belém|                4344|        99|  99|        99|   14109|
|   AL|             27|       2702702|       Feliz Deserto|                4754|        98|  98|        98|   14888|
|   AL|             27|       2706208|           Palestina|                5011|        97|  97|        97|   15387|
|   AL|             27|       2705903|  Olho d'Água Grande|                5123|        96|  96|        96|   15705|
|   AL|             27|       2703403|   Jacaré dos Homens|                5253|        95|  95|        95|   16352|
+-----+---------------+--------------+--------------------+--------------------+----------+----+----------+--------+
only showing top 30 rows

# **8.1 Performance e Tunning**

In [ ]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.4.3-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"
import findspark
findspark.init('spark-3.4.3-bin-hadoop3')

Spark Session

In [ ]:

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window as W
import pandas as pd

spark = SparkSession.builder\
  .master('local')\
  .getOrCreate();

+----------+------+------+------+------+------+-----------+---------+-------------+--------+--------------------+
|      Date|Ticker|  Open|  High|   Low| Close|     Volume|Adj Close|Adj Close Ant|  Source|           Timestamp|
+----------+------+------+------+------+------+-----------+---------+-------------+--------+--------------------+
|2024-05-03| AALR3| 10,40| 10,45|  9,74|  9,96|  187300,00|     9,96|        10,26|yfinance|2024-05-03 16:32:...|
|2024-05-03| ABEV3| 12,47| 12,48| 12,35| 12,44|15843900,00|    12,44|        12,33|yfinance|2024-05-03 16:32:...|
|2024-05-03| AERI3|  0,56|  0,57|  0,56|  0,56| 1336800,00|     0,56|         0,56|yfinance|2024-05-03 16:32:...|
|2024-05-03| ALLD3|  7,38|  7,70|  7,38|  7,49|  123400,00|     7,49|         7,30|yfinance|2024-05-03 16:32:...|
|2024-05-03|ALZR11|116,30|118,17|116,22|117,18|   42743,00|   117,18|       116,47|yfinance|2024-05-03 16:32:...|
|2024-05-03| AMAR3|  1,66|  1,73|  1,60|  1,65|  667500,00|     1,65|         1,67|yfinance|2024-05-03 16:32:...|
|2024-05-03| AMER3|  0,57|  0,58|  0,54|  0,55|20310800,00|     0,55|         0,56|yfinance|2024-05-03 16:32:...|
|2024-05-03| AZUL4| 10,55| 11,00| 10,53| 10,95|19212300,00|    10,95|        10,16|yfinance|2024-05-03 16:32:...|
|2024-05-03| B3SA3| 11,34| 11,61| 11,25| 11,41|75084000,00|    11,41|        11,06|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBAS3| 28,02| 28,36| 27,90| 28,34|12904800,00|    28,34|        27,71|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBDC4| 13,98| 14,06| 13,67| 13,71|45875000,00|    13,71|        13,82|yfinance|2024-05-03 16:32:...|
|2024-05-02|BBPO11| 96,75| 96,75| 96,75| 96,75|       0,00|    96,75|        96,75|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBSE3| 32,70| 32,85| 32,50| 32,83| 2219200,00|    32,83|        32,42|yfinance|2024-05-03 16:32:...|
|2024-05-03|BCFF11|  8,94|  9,00|  8,93|  8,95|  271606,00|     8,95|         8,94|yfinance|2024-05-03 16:32:...|
|2024-05-03| BEEF3|  6,12|  6,28|  6,11|  6,27| 6551700,00|     6,27|         6,07|yfinance|2024-05-03 16:32:...|
|2024-05-03| BHIA3|  8,11|  8,25|  7,77|  8,00| 9372400,00|     8,00|         7,89|yfinance|2024-05-03 16:32:...|
|2024-05-03| BMGB4|  3,29|  3,40|  3,28|  3,38|  573600,00|     3,38|         3,28|yfinance|2024-05-03 16:32:...|
|2024-05-03|BPAC11| 34,72| 35,52| 34,67| 35,52| 8787900,00|    35,52|        34,17|yfinance|2024-05-03 16:32:...|
|2024-05-03| BRAP4| 20,32| 20,41| 20,02| 20,27| 3167300,00|    20,27|        20,21|yfinance|2024-05-03 16:32:...|
|2024-05-03| BRAP4| 20,32| 20,41| 20,02| 20,27| 3167300,00|    20,27|        20,21|yfinance|2024-05-03 16:32:...|
+----------+------+------+------+------+------+-----------+---------+-------------+--------+--------------------+
only showing top 20 rows

Lazzi Evaluation

Lazzi Evaluation no spark significa que ele não iniciará a execução do processo até que um metodo de AÇÃO do objeto dataframe seja utilizado.

- Metodos de transformações:

.groupBy()

.orderBy()

.join()

.withColumn()

.withColumnRenamed()

In [ ]:
dtype = {
  "Date": "string",
  "Ticker": "string",
  "Open": "float",
  "High": "float",
  "Low": "float",
  "Close": "float",
  "Volume": "int",
  "Adj Close": "float",
  "Adj Close Ant": "float",
  "Source": "string",
  "Timestamp": "string"
}

df = pd.read_csv('/content/sample_data/AcoesB3.csv', sep=';', dtype=dtype, decimal=',')
df

,Date,Ticker,Open,High,Low,Close,Volume,Adj Close,Adj Close Ant,Source,Timestamp
0,2024-05-03,AALR3,10.40,10.45,9.74,9.96,187300,9.96,10.26,yfinance,2024-05-03 16:32:16.637547
1,2024-05-03,ABEV3,12.47,12.48,12.35,12.44,15843900,12.44,12.33,yfinance,2024-05-03 16:32:16.905137
2,2024-05-03,AERI3,0.56,0.57,0.56,0.56,1336800,0.56,0.56,yfinance,2024-05-03 16:32:17.127032
3,2024-05-03,ALLD3,7.38,7.70,7.38,7.49,123400,7.49,7.30,yfinance,2024-05-03 16:32:17.356795
4,2024-05-03,ALZR11,116.30,118.17,116.22,117.18,42743,117.18,116.47,yfinance,2024-05-03 16:32:17.594841
...,...,...,...,...,...,...,...,...,...,...,...
117,2024-05-03,VIVT3,49.86,50.84,49.52,50.56,2067400,50.56,49.66,yfinance,2024-05-03 16:33:23.063115
118,2024-05-03,VLID3,17.68,18.00,17.56,17.89,257700,17.89,17.40,yfinance,2024-05-03 16:33:23.318761
119,2024-05-03,WEGE3,38.99,38.99,38.24,38.65,3489900,38.65,38.85,yfinance,2024-05-03 16:33:23.591119
120,2024-05-03,XPML11,116.32,116.77,115.90,116.00,156032,116.00,116.00,yfinance,2024-05-03 16:33:26.025219
121,2024-05-03,ZAMP3,3.90,4.05,3.83,4.01,1653200,4.01,3.94,yfinance,2024-05-03 16:33:26.574769

In [ ]:
df = spark.createDataFrame(df)
df.show()

+----------+------+-----+------+------+------+--------+---------+-------------+--------+--------------------+
|      Date|Ticker| Open|  High|   Low| Close|  Volume|Adj Close|Adj Close Ant|  Source|           Timestamp|
+----------+------+-----+------+------+------+--------+---------+-------------+--------+--------------------+
|2024-05-03| AALR3| 10.4| 10.45|  9.74|  9.96|  187300|     9.96|        10.26|yfinance|2024-05-03 16:32:...|
|2024-05-03| ABEV3|12.47| 12.48| 12.35| 12.44|15843900|    12.44|        12.33|yfinance|2024-05-03 16:32:...|
|2024-05-03| AERI3| 0.56|  0.57|  0.56|  0.56| 1336800|     0.56|         0.56|yfinance|2024-05-03 16:32:...|
|2024-05-03| ALLD3| 7.38|   7.7|  7.38|  7.49|  123400|     7.49|          7.3|yfinance|2024-05-03 16:32:...|
|2024-05-03|ALZR11|116.3|118.17|116.22|117.18|   42743|   117.18|       116.47|yfinance|2024-05-03 16:32:...|
|2024-05-03| AMAR3| 1.66|  1.73|   1.6|  1.65|  667500|     1.65|         1.67|yfinance|2024-05-03 16:32:...|
|2024-05-03| AMER3| 0.57|  0.58|  0.54|  0.55|20310800|     0.55|         0.56|yfinance|2024-05-03 16:32:...|
|2024-05-03| AZUL4|10.55|  11.0| 10.53| 10.95|19212300|    10.95|        10.16|yfinance|2024-05-03 16:32:...|
|2024-05-03| B3SA3|11.34| 11.61| 11.25| 11.41|75084000|    11.41|        11.06|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBAS3|28.02| 28.36|  27.9| 28.34|12904800|    28.34|        27.71|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBDC4|13.98| 14.06| 13.67| 13.71|45875000|    13.71|        13.82|yfinance|2024-05-03 16:32:...|
|2024-05-02|BBPO11|96.75| 96.75| 96.75| 96.75|       0|    96.75|        96.75|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBSE3| 32.7| 32.85|  32.5| 32.83| 2219200|    32.83|        32.42|yfinance|2024-05-03 16:32:...|
|2024-05-03|BCFF11| 8.94|   9.0|  8.93|  8.95|  271606|     8.95|         8.94|yfinance|2024-05-03 16:32:...|
|2024-05-03| BEEF3| 6.12|  6.28|  6.11|  6.27| 6551700|     6.27|         6.07|yfinance|2024-05-03 16:32:...|
|2024-05-03| BHIA3| 8.11|  8.25|  7.77|   8.0| 9372400|      8.0|         7.89|yfinance|2024-05-03 16:32:...|
|2024-05-03| BMGB4| 3.29|   3.4|  3.28|  3.38|  573600|     3.38|         3.28|yfinance|2024-05-03 16:32:...|
|2024-05-03|BPAC11|34.72| 35.52| 34.67| 35.52| 8787900|    35.52|        34.17|yfinance|2024-05-03 16:32:...|
|2024-05-03| BRAP4|20.32| 20.41| 20.02| 20.27| 3167300|    20.27|        20.21|yfinance|2024-05-03 16:32:...|
|2024-05-03| BRAP4|20.32| 20.41| 20.02| 20.27| 3167300|    20.27|        20.21|yfinance|2024-05-03 16:32:...|
+----------+------+-----+------+------+------+--------+---------+-------------+--------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Ticker: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: long (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Adj Close Ant: double (nullable = true)
 |-- Source: string (nullable = true)
 |-- Timestamp: string (nullable = true)

In [ ]:
df = df.withColumn('Adj Close', F.col('Adj Close').cast('float'))
df.show()

+----------+------+-----+------+------+------+--------+---------+-------------+--------+--------------------+
|      Date|Ticker| Open|  High|   Low| Close|  Volume|Adj Close|Adj Close Ant|  Source|           Timestamp|
+----------+------+-----+------+------+------+--------+---------+-------------+--------+--------------------+
|2024-05-03| AALR3| 10.4| 10.45|  9.74|  9.96|  187300|     9.96|        10.26|yfinance|2024-05-03 16:32:...|
|2024-05-03| ABEV3|12.47| 12.48| 12.35| 12.44|15843900|    12.44|        12.33|yfinance|2024-05-03 16:32:...|
|2024-05-03| AERI3| 0.56|  0.57|  0.56|  0.56| 1336800|     0.56|         0.56|yfinance|2024-05-03 16:32:...|
|2024-05-03| ALLD3| 7.38|   7.7|  7.38|  7.49|  123400|     7.49|          7.3|yfinance|2024-05-03 16:32:...|
|2024-05-03|ALZR11|116.3|118.17|116.22|117.18|   42743|   117.18|       116.47|yfinance|2024-05-03 16:32:...|
|2024-05-03| AMAR3| 1.66|  1.73|   1.6|  1.65|  667500|     1.65|         1.67|yfinance|2024-05-03 16:32:...|
|2024-05-03| AMER3| 0.57|  0.58|  0.54|  0.55|20310800|     0.55|         0.56|yfinance|2024-05-03 16:32:...|
|2024-05-03| AZUL4|10.55|  11.0| 10.53| 10.95|19212300|    10.95|        10.16|yfinance|2024-05-03 16:32:...|
|2024-05-03| B3SA3|11.34| 11.61| 11.25| 11.41|75084000|    11.41|        11.06|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBAS3|28.02| 28.36|  27.9| 28.34|12904800|    28.34|        27.71|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBDC4|13.98| 14.06| 13.67| 13.71|45875000|    13.71|        13.82|yfinance|2024-05-03 16:32:...|
|2024-05-02|BBPO11|96.75| 96.75| 96.75| 96.75|       0|    96.75|        96.75|yfinance|2024-05-03 16:32:...|
|2024-05-03| BBSE3| 32.7| 32.85|  32.5| 32.83| 2219200|    32.83|        32.42|yfinance|2024-05-03 16:32:...|
|2024-05-03|BCFF11| 8.94|   9.0|  8.93|  8.95|  271606|     8.95|         8.94|yfinance|2024-05-03 16:32:...|
|2024-05-03| BEEF3| 6.12|  6.28|  6.11|  6.27| 6551700|     6.27|         6.07|yfinance|2024-05-03 16:32:...|
|2024-05-03| BHIA3| 8.11|  8.25|  7.77|   8.0| 9372400|      8.0|         7.89|yfinance|2024-05-03 16:32:...|
|2024-05-03| BMGB4| 3.29|   3.4|  3.28|  3.38|  573600|     3.38|         3.28|yfinance|2024-05-03 16:32:...|
|2024-05-03|BPAC11|34.72| 35.52| 34.67| 35.52| 8787900|    35.52|        34.17|yfinance|2024-05-03 16:32:...|
|2024-05-03| BRAP4|20.32| 20.41| 20.02| 20.27| 3167300|    20.27|        20.21|yfinance|2024-05-03 16:32:...|
|2024-05-03| BRAP4|20.32| 20.41| 20.02| 20.27| 3167300|    20.27|        20.21|yfinance|2024-05-03 16:32:...|
+----------+------+-----+------+------+------+--------+---------+-------------+--------+--------------------+
only showing top 20 rows

In [ ]:
df = df.withColumn('sigla', F.lit('BR'))

In [ ]:
w_row = W.partitionBy(F.col('Date')).orderBy(F.col('Volume'))

df = df.withColumn('lead_vol',
              F.lead('Volume').over(w_row)
              )\
  .withColumn('dif',
              (F.col('lead_vol') - F.col('Volume'))
              )\
  .drop('sigla')

#df.show()

In [ ]:
# 6min
df.explain(True)

== Parsed Logical Plan ==
Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, lead_vol#1897L, dif#1912L]
+- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1897L, (lead_vol#1897L - Volume#1737L) AS dif#1912L]
   +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1897L, dif#1882L]
      +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, dif#1882L, lead_vol#1897L, lead_vol#1897L]
         +- Window [lead(Volume#1737L, 1, null) windowspecdefinition(Date#1731, Volume#1737L ASC NULLS FIRST, specifiedwindowframe(RowFrame, 1, 1)) AS lead_vol#1897L], [Date#1731], [Volume#1737L ASC NULLS FIRST]
            +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, dif#1882L]
               +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1868L, (lead_vol#1868L - Volume#1737L) AS dif#1882L]
                  +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1868L]
                     +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1868L, lead_vol#1868L]
                        +- Window [lead(Volume#1737L, 1, null) windowspecdefinition(Date#1731, Volume#1737L ASC NULLS FIRST, specifiedwindowframe(RowFrame, 1, 1)) AS lead_vol#1868L], [Date#1731], [Volume#1737L ASC NULLS FIRST]
                           +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855]
                              +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, BR AS sigla#1855]
                                 +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, cast(Adj Close#1738 as float) AS Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741]
                                    +- LogicalRDD [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1738, Adj Close Ant#1739, Source#1740, Timestamp#1741], false

== Analyzed Logical Plan ==
Date: string, Ticker: string, Open: double, High: double, Low: double, Close: double, Volume: bigint, Adj Close: float, Adj Close Ant: double, Source: string, Timestamp: string, lead_vol: bigint, dif: bigint
Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, lead_vol#1897L, dif#1912L]
+- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1897L, (lead_vol#1897L - Volume#1737L) AS dif#1912L]
   +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1897L, dif#1882L]
      +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, dif#1882L, lead_vol#1897L, lead_vol#1897L]
         +- Window [lead(Volume#1737L, 1, null) windowspecdefinition(Date#1731, Volume#1737L ASC NULLS FIRST, specifiedwindowframe(RowFrame, 1, 1)) AS lead_vol#1897L], [Date#1731], [Volume#1737L ASC NULLS FIRST]
            +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, dif#1882L]
               +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1868L, (lead_vol#1868L - Volume#1737L) AS dif#1882L]
                  +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1868L]
                     +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855, lead_vol#1868L, lead_vol#1868L]
                        +- Window [lead(Volume#1737L, 1, null) windowspecdefinition(Date#1731, Volume#1737L ASC NULLS FIRST, specifiedwindowframe(RowFrame, 1, 1)) AS lead_vol#1868L], [Date#1731], [Volume#1737L ASC NULLS FIRST]
                           +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, sigla#1855]
                              +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, BR AS sigla#1855]
                                 +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, cast(Adj Close#1738 as float) AS Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741]
                                    +- LogicalRDD [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1738, Adj Close Ant#1739, Source#1740, Timestamp#1741], false

== Optimized Logical Plan ==
Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, lead_vol#1897L, (lead_vol#1897L - Volume#1737L) AS dif#1912L]
+- Window [lead(Volume#1737L, 1, null) windowspecdefinition(Date#1731, Volume#1737L ASC NULLS FIRST, specifiedwindowframe(RowFrame, 1, 1)) AS lead_vol#1897L], [Date#1731], [Volume#1737L ASC NULLS FIRST]
   +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, cast(Adj Close#1738 as float) AS Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741]
      +- LogicalRDD [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1738, Adj Close Ant#1739, Source#1740, Timestamp#1741], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741, lead_vol#1897L, (lead_vol#1897L - Volume#1737L) AS dif#1912L]
   +- Window [lead(Volume#1737L, 1, null) windowspecdefinition(Date#1731, Volume#1737L ASC NULLS FIRST, specifiedwindowframe(RowFrame, 1, 1)) AS lead_vol#1897L], [Date#1731], [Volume#1737L ASC NULLS FIRST]
      +- Sort [Date#1731 ASC NULLS FIRST, Volume#1737L ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(Date#1731, 200), ENSURE_REQUIREMENTS, [plan_id=674]
            +- Project [Date#1731, Ticker#1732, Open#1733, High#1734, Low#1735, Close#1736, Volume#1737L, cast(Adj Close#1738 as float) AS Adj Close#1798, Adj Close Ant#1739, Source#1740, Timestamp#1741]
               +- Scan ExistingRDD[Date#1731,Ticker#1732,Open#1733,High#1734,Low#1735,Close#1736,Volume#1737L,Adj Close#1738,Adj Close Ant#1739,Source#1740,Timestamp#1741]

In [ ]:
# 22min
df.show()

+----------+------+---------+---------+---------+---------+------+---------+-------------+--------+--------------------+--------+-----+
|      Date|Ticker|     Open|     High|      Low|    Close|Volume|Adj Close|Adj Close Ant|  Source|           Timestamp|lead_vol|  dif|
+----------+------+---------+---------+---------+---------+------+---------+-------------+--------+--------------------+--------+-----+
|2024-05-02|BBPO11|    96.75|    96.75|    96.75|    96.75|     0|    96.75|        96.75|yfinance|2024-05-03 16:32:...|       0|    0|
|2024-05-02| DTCY3|      5.2|      5.2|      5.2|      5.2|     0|      5.2|          5.2|yfinance|2024-05-03 16:32:...|       0|    0|
|2024-05-02| SLED4|      1.6|      1.6|      1.6|      1.6|     0|      1.6|          1.6|yfinance|2024-05-03 16:33:...|    null| null|
|2024-05-03|  IBOV|127130.46|128786.96|127130.46|128646.81|     0|128646.81|     127122.0|yfinance|2024-05-03 16:32:...|    1576| 1576|
|2024-05-03|RBRD11|    40.47|    40.95|    39.45|    39.65|  1576|    39.65|        40.41|yfinance|2024-05-03 16:33:...|    1600|   24|
|2024-05-03| PLAS3|      6.2|      6.2|     5.81|     6.15|  1600|     6.15|          6.0|yfinance|2024-05-03 16:33:...|    2889| 1289|
|2024-05-03|RCRB11|   155.15|   159.79|   155.15|   159.64|  2889|   159.64|        155.0|yfinance|2024-05-03 16:33:...|    3288|  399|
|2024-05-03|QAGR11|     47.2|    47.23|    46.17|    46.51|  3288|    46.51|        47.64|yfinance|2024-05-03 16:33:...|    5100| 1812|
|2024-05-03| TPIS3|     3.89|     3.89|     3.83|     3.87|  5100|     3.87|         3.85|yfinance|2024-05-03 16:33:...|    7706| 2606|
|2024-05-03|RECT11|    37.69|     38.2|    37.67|    38.17|  7706|    38.17|        37.69|yfinance|2024-05-03 16:33:...|   18699|10993|
|2024-05-03|KNRI11|   163.15|    164.2|   162.95|    164.0| 18699|    164.0|       162.95|yfinance|2024-05-03 16:32:...|   18828|  129|
|2024-05-03|HGBS11|   220.82|   222.49|   220.72|   221.72| 18828|   221.72|       220.82|yfinance|2024-05-03 16:32:...|   23035| 4207|
|2024-05-03|VILG11|    91.51|     94.0|    91.51|    93.87| 23035|    93.87|        91.49|yfinance|2024-05-03 16:33:...|   24600| 1565|
|2024-05-03|HCTR11|    32.21|    32.48|    32.08|    32.34| 24600|    32.34|        32.35|yfinance|2024-05-03 16:32:...|   26896| 2296|
|2024-05-03|HGLG11|   165.31|   166.85|   165.08|   166.58| 26896|   166.58|       164.98|yfinance|2024-05-03 16:32:...|   26896|    0|
|2024-05-03|HGLG11|   165.31|   166.85|   165.08|   166.58| 26896|   166.58|       164.98|yfinance|2024-05-03 16:32:...|   36756| 9860|
|2024-05-03|TGAR11|   124.79|   125.45|   124.37|   125.31| 36756|   125.31|        124.3|yfinance|2024-05-03 16:33:...|   42743| 5987|
|2024-05-03|ALZR11|    116.3|   118.17|   116.22|   117.18| 42743|   117.18|       116.47|yfinance|2024-05-03 16:32:...|   50982| 8239|
|2024-05-03|JSRE11|     71.3|    72.02|    69.82|    70.47| 50982|    70.47|        71.95|yfinance|2024-05-03 16:32:...|   83994|33012|
|2024-05-03|HSML11|    95.65|     97.8|    95.65|    97.38| 83994|    97.38|        95.54|yfinance|2024-05-03 16:32:...|   96754|12760|
+----------+------+---------+---------+---------+---------+------+---------+-------------+--------+--------------------+--------+-----+
only showing top 20 rows

**.repartition**

In [ ]:
# 29min
df = df.repartition(4)

In [ ]:
df.rdd.getNumPartitions()

4

.cash()

In [ ]:
# 43min
df_cached = df.cache()

.persist()

.persist() é um metodo bem semelhante ao .cache(), a diferença e que com o metodo persist(), voce escolher onde ele irá armazenar as informações:

* pyspark.StorageLevel.MEMORY_AND_DISK
* pyspark.StorageLevel.DISK_ONLY
* pyspark.StorageLevel.MEMORY_ONLY

In [ ]:
import pyspark

df_cached = df.persist(pyspark.StorageLevel.DISK_ONLY)

.toPandas()

In [ ]:
df_cached.toPandas()

,Date,Ticker,Open,High,Low,Close,Volume,Adj Close,Adj Close Ant,Source,Timestamp,lead_vol,dif
0,2024-05-03,STBP3,14.07,14.36,13.87,13.95,4848600,13.950000,14.00,yfinance,2024-05-03 16:33:12.069784,4874100.0,25500.0
1,2024-05-03,BMGB4,3.29,3.40,3.28,3.38,573600,3.380000,3.28,yfinance,2024-05-03 16:32:31.226432,587500.0,13900.0
2,2024-05-03,COGN3,2.30,2.38,2.30,2.35,29925700,2.350000,2.23,yfinance,2024-05-03 16:32:39.168643,35582300.0,5656600.0
3,2024-05-03,VLID3,17.68,18.00,17.56,17.89,257700,17.889999,17.40,yfinance,2024-05-03 16:33:23.318761,261500.0,3800.0
4,2024-05-03,ESPA3,0.94,1.01,0.93,0.94,1471100,0.940000,0.93,yfinance,2024-05-03 16:32:45.482464,1576400.0,105300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2024-05-03,WEGE3,38.99,38.99,38.24,38.65,3489900,38.650002,38.85,yfinance,2024-05-03 16:33:23.591119,4319000.0,829100.0
118,2024-05-03,ABEV3,12.47,12.48,12.35,12.44,15843900,12.440000,12.33,yfinance,2024-05-03 16:32:16.905137,17557800.0,1713900.0
119,2024-05-03,PLAS3,6.20,6.20,5.81,6.15,1600,6.150000,6.00,yfinance,2024-05-03 16:33:06.779639,2889.0,1289.0
120,2024-05-03,TRPL4,25.99,26.35,25.86,26.22,2279600,26.219999,25.70,yfinance,2024-05-03 16:33:21.388359,2562100.0,282500.0
121,2024-05-03,CEAB3,11.44,12.00,11.36,11.97,2562100,11.970000,11.14,yfinance,2024-05-03 16:32:35.620689,2706900.0,144800.0

In [ ]:
type(df_cached.toPandas())

pandas.core.frame.DataFrame

.collect()

Esse metodo tras para a memoria do driver o conteudo do dataframe como um objeto de lista.

In [ ]:
type(df_cached.collect())

list

In [ ]:
df_cached.unpersist()

DataFrame[Date: string, Ticker: string, Open: double, High: double, Low: double, Close: double, Volume: bigint, Adj Close: float, Adj Close Ant: double, Source: string, Timestamp: string, lead_vol: bigint, dif: bigint]

# **9.1 Pipeline**

In [1]:
# instalar as dependencias
# baixar a versão mais recente do java8;
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#download via stp do hadoop
!wget -q https://dlcdn.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar xf spark-3.4.3-bin-hadoop3.tgz
# instalar o Findspark
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/sample_data/spark-3.4.3-bin-hadoop3"

# utilizando findspark para que o spark seja "importavel"
import findspark
findspark.init('spark-3.4.3-bin-hadoop3')

Desenvolvendo um pipeline

In [ ]:
# 2min
# criar duas pasta no seguinte caminho
# /mnt/langing
#             /cliente
#             /endereco
#             /fornecedor
#             /produtos
# /mnt/raw
# /mnt/artefatos

In [ ]:

class toolkit():
  def __init__(self, layer_raw):
    self.nome_processo = 'cadastro'
    self.layer_raw = layer_raw

  def running2(self):
    self.running()

  def running(self):
    print(self.nome_processo,self.layer_raw)

tl = toolkit('raw_process').running2()

cadastro raw_process

Agora vamos que vamos...

In [ ]:

def readJson(selft):
  with open('/mnt/artefatos/raw-pdv-tbge0020.json', 'r') as file_rows:
    data = file_rows.read()
  json_object = json.loads(data)
  return json_object

json_object = readJson()
print(json_object[0]['SourceTable'])

tbge0020

In [ ]:
datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2024-05-07 22:57:06'

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import datetime
import json

class Toolkit():
  def __init__(self,data_set,table):
    self.data_set    = data_set
    self.table       = table
    # self.time_now    = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    self.time_now    = '2024-05-04 22:57:06'
    self.json_object = self.readJson()
    self.spark       = self.getSparkSession()

  def getSparkSession(self):
    return SparkSession.builder.appName(self.data_set).getOrCreate()

  def readCsv(self,controle='langing',sourcetable=None,delimiter='|'):
    if sourcetable != None:
      file_path = '/mnt/{}/{}/{}'.format(controle,self.data_set,self.json_object[0]['SourceTable'])
    else:
      raise Exception('Erro no nome do arquivo do dataset {}'.format(self.data_set))

    return self.spark.read.csv(file_path, sep=delimiter)

  def readParquet(self,controle='raw',sourcetable=None):
    if sourcetable != None:
      file_path = '/mnt/{}/{}/{}'.format(controle,self.data_set,self.json_object[0]['SourceTable'])
    else:
      raise Exception('Erro no nome do arquivo do dataset {}'.format(self.data_set))
    return self.spark.read.parquet(file_path)

  def readJson(self):
    with open('/mnt/artefatos/raw-{}-{}.json'.format(self.data_set, self.table), 'r') as file_rows:
      data = file_rows.read()
    json_object = json.loads(data)
    return json_object

  def writeParquet(self, df, controle='raw', partition_by=['ano','mes','dia'], mode='append'):
    # append para incrementar os dados da carga
    # overwrite para sobrescrever os dados da carga
    df.write\
      .mode(mode)\
      .format('parquet')\
      .partitionBy(partition_by)\
      .save('/mnt/{}/{}/{}'.format(controle, self.data_set, self.table))


class raw(Toolkit):
  def __init__(self):
    self.name = 'pdv'
    self.tbl_name = 'tbge0020'
    super().__init__(self.name, self.tbl_name)
    self.run()

  def controlColumns(self, df):
    df = df.withColumn('dth_carga',
                       F.lit(self.time_now))\
           .withColumn('sigla',
                       F.lit(self.tbl_name))\
           .withColumn('ano',
                       F.year(F.col('dth_carga')))\
           .withColumn('mes',
                       F.lpad(F.month(F.col('dth_carga')),2,'0'))\
           .withColumn('dia',
                       F.dayofmonth(F.col('dth_carga')))
    return df

  def namedColumn(self, df):
    json_object = self.readJson()
    column_list = json_object[0]['Columns']
    column_name = [i['Name'] for i in column_list]
    df = df.toDF(*column_name)
    return df

  def dataClean(self,df):
    json_object = self.readJson()
    column_list = json_object[0]['Columns']
    for column in column_list:
      # validação
      nr_old = int(
          df.filter(
              F.col(column['Name']).isNull()
              ).count()
          )
      df = df.withColumn(column['Name'],
                         F.col(column['Name']).cast(column['Datatype']))

      nr_new = int(
          df.filter(
              F.col(column['Name']).isNull()).count()
          )
      if nr_new != nr_old:
        raise Exception('Erro na coluna {} ao aplicar o casting para {}'.format(column['Name'], column['Datatype']))

    df = df.withColumn('ano',F.col('ano').cast('string'))
    df = df.withColumn('dia',F.col('dia').cast('string'))

    return df


  def run(self):
    df = self.readCsv(sourcetable=self.readJson()[0]['SourceTable'])
    df = self.namedColumn(df)
    df = self.controlColumns(df)
    df = self.dataClean(df)
    df = df.filter(F.col('num_pdv') == ' 000000002.')
    self.writeParquet(df, mode='append')
    return df

raw().run().show()

+-----------+----------------+--------------------+-------------------+-------------------+---------+----------+--------+-----------+-------+---------+---------+-------+---------+--------+------------+------------+---------------+-------------+--------+-----------+-------------------+--------+----+---+---+
|    num_pdv|        cnpj_pdv|            nome_pdv|        criacao_pdv|    atualizacao_pdv|canal_pdv|celula_pdv|ativo_fl|carteira_fl|empr_fl|contr_pdv|saldo_pdv|seg_pdv|linha_pdv|cons_pdv|data_ult_mov|clas_mktg_cd|data_cred_conta|pdv_endr_desc|desc_cli|contato_cli|          dth_carga|   sigla| ano|mes|dia|
+-----------+----------------+--------------------+-------------------+-------------------+---------+----------+--------+-----------+-------+---------+---------+-------+---------+--------+------------+------------+---------------+-------------+--------+-----------+-------------------+--------+----+---+---+
| 000000002.| 12345678900988 |TESTE2           ...|1981-11-10 21:00:00|1981-11-10 03:00:00|     null|      null|       1|          0|      0|        0|  1322.67|   null|        E|       C|      210601|        AB01|     2021-07-18|    RUA A 200| PEQUENO|  guilherme|2024-05-04 22:57:06|tbge0020|2024| 05|  4|
+-----------+----------------+--------------------+-------------------+-------------------+---------+----------+--------+-----------+-------+---------+---------+-------+---------+--------+------------+------------+---------------+-------------+--------+-----------+-------------------+--------+----+---+---+

In [ ]:
from pyspark.sql.window import Window as W

class contexto(Toolkit):
  def __init__(self):
    self.data_set = 'pdv'
    self.tbl_name = 'tbge0020'
    super().__init__(self.data_set, self.tbl_name)
    self.run()

  def full(self,df):
    ano,mes,dia = self.getLastPartition(df)
    df_new = df\
      .filter(F.col('ano') == ano)\
      .filter(F.col('mes') == mes)\
      .filter(F.col('dia') == dia)

    if int(df_new.count()) == 0 or type(df_new) == None:
      raise Exception('O dataframe não possui nenhuma linha')
    return df_new


  def getLastPartition(self,df):
    last_partition = df\
      .select('ano','mes','dia')\
      .distinct()\
      .orderBy('ano','mes',F.desc('dia'))\
      .collect()

    ano = last_partition[0][0]
    mes = last_partition[0][1]
    dia = last_partition[0][2]

    return ano,mes,dia

  def getLastRow(self, df):
    colunas = self.readJson()[0]['Columns']
    lista_colunas_key = []
    for coluna in colunas:
      if coluna['PrimaryKey'] == 1:
        lista_colunas_key.append(F.col(coluna['Name']))

    window_ranked = W()\
      .partitionBy(*lista_colunas_key)\
      .orderBy(
          F.col('ano').desc(),
          F.col('mes').desc(),
          F.col('dia').desc()
          )

    df_new = df.withColumn('ranked',
                  F.row_number()\
                  .over(window_ranked))\
      .filter(F.col('ranked') == 1)\
      .drop('ranked')

    return df_new

  def run(self):
    df= self.readParquet(controle='raw', sourcetable=self.readJson()[0]['SourceTable'])
    extracao = self.readJson()[0]['ExtractionType']
    if extracao == 'full':
      df = self.full(df)
      print('Processamento com full que truxe: ' + str(df.count()))
    elif extracao == 'delta':
      df = self.getLastRow(df)
      print('Processamento com delta que truxe: ' + str(df.count()))
    df.show()



contexto()

Processamento com delta que truxe: 4
+-----------+----------------+--------------------+-------------------+-------------------+---------+----------+--------+-----------+-------+---------+---------+-------+---------+--------+------------+------------+---------------+-------------+--------+------------+-------------------+--------+----+---+---+
|    num_pdv|        cnpj_pdv|            nome_pdv|        criacao_pdv|    atualizacao_pdv|canal_pdv|celula_pdv|ativo_fl|carteira_fl|empr_fl|contr_pdv|saldo_pdv|seg_pdv|linha_pdv|cons_pdv|data_ult_mov|clas_mktg_cd|data_cred_conta|pdv_endr_desc|desc_cli| contato_cli|          dth_carga|   sigla| ano|mes|dia|
+-----------+----------------+--------------------+-------------------+-------------------+---------+----------+--------+-----------+-------+---------+---------+-------+---------+--------+------------+------------+---------------+-------------+--------+------------+-------------------+--------+----+---+---+
| 000000001.| 12345678900987 |TESTE            ...|1981-11-10 21:00:00|1981-11-10 03:00:00|     null|      null|       1|          0|      0|        0|   556.77|   null|        E|       C|      210601|        AB01|     2021-07-10|    RUA A 120| GRANDE.|  CAIO M.   |2024-05-03 22:57:06|tbge0020|2024|  5|  3|
| 000000002.| 12345678900988 |TESTE2           ...|1981-11-10 21:00:00|1981-11-10 03:00:00|     null|      null|       1|          0|      0|        0|  1322.67|   null|        E|       C|      210601|        AB01|     2021-07-18|    RUA A 200| PEQUENO|   guilherme|2024-05-04 22:57:06|tbge0020|2024|  5|  4|
| 000000003.| 12345678900989 |TESTE3           ...|1981-11-10 21:00:00|1981-11-10 03:00:00|     null|      null|       1|          0|      0|        0|     21.0|   null|        E|       C|      210601|        AC01|     2021-07-17|   RUA JOSE A|   MEDIO|jonathan.   |2024-05-03 22:57:06|tbge0020|2024|  5|  3|
| 000000004.| 12345678900990 |TESTE4           ...|1981-11-10 21:00:00|1981-11-10 03:00:00|     null|      null|       1|          0|      0|        0|   343.11|   null|        E|       C|      210601|        DB01|     2021-07-14|   AV 123 BC.| PEQUENO|   thiago.  |2024-05-03 22:57:06|tbge0020|2024|  5|  3|
+-----------+----------------+--------------------+-------------------+-------------------+---------+----------+--------+-----------+-------+---------+---------+-------+---------+--------+------------+------------+---------------+-------------+--------+------------+-------------------+--------+----+---+---+